[submodule "_deploy"]
	path = _deploy
	url = git@github.com:yulrizka/yulrizka.github.com.git
[submodule "hugo/themes/ananke"]
	path = hugo/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
