[submodule "_deploy"]
	path = _deploy
	url = git@github.com:yulrizka/yulrizka.github.com.git
[submodule "hugo/yulrizka.github.com"]
	path = hugo/yulrizka.github.com
	url = git@github.com:yulrizka/yulrizka.github.com.git
	branch = master
[submodule "hugo/public"]
	path = hugo/public
	url = git@github.com:yulrizka/yulrizka.github.com.git
	branch = master
