<!DOCTYPE html>
<html lang="en">
<head>
<title>labs.yulrizka.com - Dev Blogs of Ahmy Yulrizka</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Blog of Ahmy Yulrizka I am currently golang developer and live in the Netherlands">
<meta name="keywords" content="ahmy,yulrizka,ahmy yulrizka,blog,dev" />
<meta name="author" content="Ahmy Yulrizka">
<link rel="canonical" href="http://labs.yulrizka.com/">

<!-- Framework CSS -->
{{ $applicationCSS := resources.Get "css/application.css" }}
{{ $highlightsCSS := resources.Get "css/highlights.css" }}
{{ $css := slice $applicationCSS $highlightsCSS | resources.Concat "css/default.css"}}
{{ $style := $css | minify | fingerprint }} 
<link rel="stylesheet" href="{{ $style.Permalink }}" media="screen, projection" type="text/css">


<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link href='http://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css'>

</head>
<body>
<div id="container" class="sidebar-right">
  <div class="container-fluid" id="main">
    <div class="row-fluid">
      <div id="content-wrapper" class="span9 ">
        <div class="content">
          {{- block "main" . }}{{- end }}
        </div>
      </div>
      <div id="sidebar-wrapper" class="span3">
        <div class="sidebar">
          <aside>
          <h2>Archives</h2>
          <h3>English</h3>
          <ul>
          {{ range first 10 (where .Site.RegularPages "Section" "en") }}
            <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
          </ul>
          <h3>Indonesia</h3>
          <ul>
          {{ range first 10 (where .Site.RegularPages "Section" "id") }}
            <li>
              <a href="">{{ .Title }}</a>
            </li>
          {{ end }}
          </ul>
          </aside>
        </div>
      </div>
    </div>
  </div>
  {{- partial "header.html" . -}}
  {{- partial "footer.html" . -}}
</div> <!-- end of #container-->

<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/javascripts/jquery-1.7.1.min.js"><\/script>')</script>
{{ $main := resources.Get "javascript/application.js" }}
{{ $defaultJS := slice $main | resources.Concat "javascript/global.js" }}
<script src="{{ $defaultJS.Permalink }}"></script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22308054-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</body>
</html>
