/* line 4, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 20, ../../sass/screen.scss */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 51, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 53, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 54, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 55, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 56, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 57, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 58, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 59, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 62, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:visited {
  color: #004c99;
}
/* line 21, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:focus {
  color: #0099ff;
}
/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:hover {
  color: #0099ff;
}
/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:active {
  color: #bf00ff;
}
/* line 63, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 64, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp strong, body.bp dfn {
  font-weight: bold;
}
/* line 65, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp em, body.bp dfn {
  font-style: italic;
}
/* line 66, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 67, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
/* line 68, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 69, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp del {
  color: #666666;
}
/* line 70, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 71, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre, body.bp code, body.bp tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 72, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 73, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 74, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul {
  list-style-type: disc;
}
/* line 75, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ol {
  list-style-type: decimal;
}
/* line 76, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl dt {
  font-weight: bold;
}
/* line 78, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dd {
  margin-left: 1.5em;
}
/* line 79, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 80, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th {
  font-weight: bold;
}
/* line 81, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp thead th {
  background: #c3d9ff;
}
/* line 82, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 85, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table.striped tr:nth-child(even) td,
body.bp table tr.even td {
  background: #e5ecf9;
}
/* line 86, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tfoot {
  font-style: italic;
}
/* line 87, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp caption {
  background: #eeeeee;
}
/* line 88, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .quiet {
  color: #666666;
}
/* line 89, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .loud {
  color: #111111;
}
/* line 9, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 25, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body.bp .showgrid {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 970.0 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(3.136%, rgba(100, 100, 225, 0.25)), color-stop(3.136%, rgba(0, 0, 0, 0)), color-stop(4.167%, rgba(0, 0, 0, 0)), color-stop(4.167%, rgba(100, 100, 225, 0.25)), color-stop(7.302%, rgba(100, 100, 225, 0.25)), color-stop(7.302%, rgba(0, 0, 0, 0)), color-stop(8.333%, rgba(0, 0, 0, 0)), color-stop(8.333%, rgba(100, 100, 225, 0.25)), color-stop(11.469%, rgba(100, 100, 225, 0.25)), color-stop(11.469%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(100, 100, 225, 0.25)), color-stop(15.636%, rgba(100, 100, 225, 0.25)), color-stop(15.636%, rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(100, 100, 225, 0.25)), color-stop(19.802%, rgba(100, 100, 225, 0.25)), color-stop(19.802%, rgba(0, 0, 0, 0)), color-stop(20.833%, rgba(0, 0, 0, 0)), color-stop(20.833%, rgba(100, 100, 225, 0.25)), color-stop(23.969%, rgba(100, 100, 225, 0.25)), color-stop(23.969%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(25.0%, rgba(100, 100, 225, 0.25)), color-stop(28.136%, rgba(100, 100, 225, 0.25)), color-stop(28.136%, rgba(0, 0, 0, 0)), color-stop(29.167%, rgba(0, 0, 0, 0)), color-stop(29.167%, rgba(100, 100, 225, 0.25)), color-stop(32.302%, rgba(100, 100, 225, 0.25)), color-stop(32.302%, rgba(0, 0, 0, 0)), color-stop(33.333%, rgba(0, 0, 0, 0)), color-stop(33.333%, rgba(100, 100, 225, 0.25)), color-stop(36.469%, rgba(100, 100, 225, 0.25)), color-stop(36.469%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(100, 100, 225, 0.25)), color-stop(40.636%, rgba(100, 100, 225, 0.25)), color-stop(40.636%, rgba(0, 0, 0, 0)), color-stop(41.667%, rgba(0, 0, 0, 0)), color-stop(41.667%, rgba(100, 100, 225, 0.25)), color-stop(44.802%, rgba(100, 100, 225, 0.25)), color-stop(44.802%, rgba(0, 0, 0, 0)), color-stop(45.833%, rgba(0, 0, 0, 0)), color-stop(45.833%, rgba(100, 100, 225, 0.25)), color-stop(48.969%, rgba(100, 100, 225, 0.25)), color-stop(48.969%, rgba(0, 0, 0, 0)), color-stop(50.0%, rgba(0, 0, 0, 0)), color-stop(50.0%, rgba(100, 100, 225, 0.25)), color-stop(53.136%, rgba(100, 100, 225, 0.25)), color-stop(53.136%, rgba(0, 0, 0, 0)), color-stop(54.167%, rgba(0, 0, 0, 0)), color-stop(54.167%, rgba(100, 100, 225, 0.25)), color-stop(57.302%, rgba(100, 100, 225, 0.25)), color-stop(57.302%, rgba(0, 0, 0, 0)), color-stop(58.333%, rgba(0, 0, 0, 0)), color-stop(58.333%, rgba(100, 100, 225, 0.25)), color-stop(61.469%, rgba(100, 100, 225, 0.25)), color-stop(61.469%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(100, 100, 225, 0.25)), color-stop(65.636%, rgba(100, 100, 225, 0.25)), color-stop(65.636%, rgba(0, 0, 0, 0)), color-stop(66.667%, rgba(0, 0, 0, 0)), color-stop(66.667%, rgba(100, 100, 225, 0.25)), color-stop(69.802%, rgba(100, 100, 225, 0.25)), color-stop(69.802%, rgba(0, 0, 0, 0)), color-stop(70.833%, rgba(0, 0, 0, 0)), color-stop(70.833%, rgba(100, 100, 225, 0.25)), color-stop(73.969%, rgba(100, 100, 225, 0.25)), color-stop(73.969%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(75.0%, rgba(100, 100, 225, 0.25)), color-stop(78.136%, rgba(100, 100, 225, 0.25)), color-stop(78.136%, rgba(0, 0, 0, 0)), color-stop(79.167%, rgba(0, 0, 0, 0)), color-stop(79.167%, rgba(100, 100, 225, 0.25)), color-stop(82.302%, rgba(100, 100, 225, 0.25)), color-stop(82.302%, rgba(0, 0, 0, 0)), color-stop(83.333%, rgba(0, 0, 0, 0)), color-stop(83.333%, rgba(100, 100, 225, 0.25)), color-stop(86.469%, rgba(100, 100, 225, 0.25)), color-stop(86.469%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(100, 100, 225, 0.25)), color-stop(90.636%, rgba(100, 100, 225, 0.25)), color-stop(90.636%, rgba(0, 0, 0, 0)), color-stop(91.667%, rgba(0, 0, 0, 0)), color-stop(91.667%, rgba(100, 100, 225, 0.25)), color-stop(94.802%, rgba(100, 100, 225, 0.25)), color-stop(94.802%, rgba(0, 0, 0, 0)), color-stop(95.833%, rgba(0, 0, 0, 0)), color-stop(95.833%, rgba(100, 100, 225, 0.25)), color-stop(98.969%, rgba(100, 100, 225, 0.25)), color-stop(98.969%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30.417px, rgba(0, 0, 0, 0) 30.417px, rgba(0, 0, 0, 0) 40.417px, rgba(100, 100, 225, 0.25) 40.417px, rgba(100, 100, 225, 0.25) 70.833px, rgba(0, 0, 0, 0) 70.833px, rgba(0, 0, 0, 0) 80.833px, rgba(100, 100, 225, 0.25) 80.833px, rgba(100, 100, 225, 0.25) 111.25px, rgba(0, 0, 0, 0) 111.25px, rgba(0, 0, 0, 0) 121.25px, rgba(100, 100, 225, 0.25) 121.25px, rgba(100, 100, 225, 0.25) 151.667px, rgba(0, 0, 0, 0) 151.667px, rgba(0, 0, 0, 0) 161.667px, rgba(100, 100, 225, 0.25) 161.667px, rgba(100, 100, 225, 0.25) 192.083px, rgba(0, 0, 0, 0) 192.083px, rgba(0, 0, 0, 0) 202.083px, rgba(100, 100, 225, 0.25) 202.083px, rgba(100, 100, 225, 0.25) 232.5px, rgba(0, 0, 0, 0) 232.5px, rgba(0, 0, 0, 0) 242.5px, rgba(100, 100, 225, 0.25) 242.5px, rgba(100, 100, 225, 0.25) 272.917px, rgba(0, 0, 0, 0) 272.917px, rgba(0, 0, 0, 0) 282.917px, rgba(100, 100, 225, 0.25) 282.917px, rgba(100, 100, 225, 0.25) 313.333px, rgba(0, 0, 0, 0) 313.333px, rgba(0, 0, 0, 0) 323.333px, rgba(100, 100, 225, 0.25) 323.333px, rgba(100, 100, 225, 0.25) 353.75px, rgba(0, 0, 0, 0) 353.75px, rgba(0, 0, 0, 0) 363.75px, rgba(100, 100, 225, 0.25) 363.75px, rgba(100, 100, 225, 0.25) 394.167px, rgba(0, 0, 0, 0) 394.167px, rgba(0, 0, 0, 0) 404.167px, rgba(100, 100, 225, 0.25) 404.167px, rgba(100, 100, 225, 0.25) 434.583px, rgba(0, 0, 0, 0) 434.583px, rgba(0, 0, 0, 0) 444.583px, rgba(100, 100, 225, 0.25) 444.583px, rgba(100, 100, 225, 0.25) 475px, rgba(0, 0, 0, 0) 475px, rgba(0, 0, 0, 0) 485px, rgba(100, 100, 225, 0.25) 485px, rgba(100, 100, 225, 0.25) 515.417px, rgba(0, 0, 0, 0) 515.417px, rgba(0, 0, 0, 0) 525.417px, rgba(100, 100, 225, 0.25) 525.417px, rgba(100, 100, 225, 0.25) 555.833px, rgba(0, 0, 0, 0) 555.833px, rgba(0, 0, 0, 0) 565.833px, rgba(100, 100, 225, 0.25) 565.833px, rgba(100, 100, 225, 0.25) 596.25px, rgba(0, 0, 0, 0) 596.25px, rgba(0, 0, 0, 0) 606.25px, rgba(100, 100, 225, 0.25) 606.25px, rgba(100, 100, 225, 0.25) 636.667px, rgba(0, 0, 0, 0) 636.667px, rgba(0, 0, 0, 0) 646.667px, rgba(100, 100, 225, 0.25) 646.667px, rgba(100, 100, 225, 0.25) 677.083px, rgba(0, 0, 0, 0) 677.083px, rgba(0, 0, 0, 0) 687.083px, rgba(100, 100, 225, 0.25) 687.083px, rgba(100, 100, 225, 0.25) 717.5px, rgba(0, 0, 0, 0) 717.5px, rgba(0, 0, 0, 0) 727.5px, rgba(100, 100, 225, 0.25) 727.5px, rgba(100, 100, 225, 0.25) 757.917px, rgba(0, 0, 0, 0) 757.917px, rgba(0, 0, 0, 0) 767.917px, rgba(100, 100, 225, 0.25) 767.917px, rgba(100, 100, 225, 0.25) 798.333px, rgba(0, 0, 0, 0) 798.333px, rgba(0, 0, 0, 0) 808.333px, rgba(100, 100, 225, 0.25) 808.333px, rgba(100, 100, 225, 0.25) 838.75px, rgba(0, 0, 0, 0) 838.75px, rgba(0, 0, 0, 0) 848.75px, rgba(100, 100, 225, 0.25) 848.75px, rgba(100, 100, 225, 0.25) 879.167px, rgba(0, 0, 0, 0) 879.167px, rgba(0, 0, 0, 0) 889.167px, rgba(100, 100, 225, 0.25) 889.167px, rgba(100, 100, 225, 0.25) 919.583px, rgba(0, 0, 0, 0) 919.583px, rgba(0, 0, 0, 0) 929.583px, rgba(100, 100, 225, 0.25) 929.583px, rgba(100, 100, 225, 0.25) 960.0px, rgba(0, 0, 0, 0) 960.0px, rgba(0, 0, 0, 0) 970.0px);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30.417px, rgba(0, 0, 0, 0) 30.417px, rgba(0, 0, 0, 0) 40.417px, rgba(100, 100, 225, 0.25) 40.417px, rgba(100, 100, 225, 0.25) 70.833px, rgba(0, 0, 0, 0) 70.833px, rgba(0, 0, 0, 0) 80.833px, rgba(100, 100, 225, 0.25) 80.833px, rgba(100, 100, 225, 0.25) 111.25px, rgba(0, 0, 0, 0) 111.25px, rgba(0, 0, 0, 0) 121.25px, rgba(100, 100, 225, 0.25) 121.25px, rgba(100, 100, 225, 0.25) 151.667px, rgba(0, 0, 0, 0) 151.667px, rgba(0, 0, 0, 0) 161.667px, rgba(100, 100, 225, 0.25) 161.667px, rgba(100, 100, 225, 0.25) 192.083px, rgba(0, 0, 0, 0) 192.083px, rgba(0, 0, 0, 0) 202.083px, rgba(100, 100, 225, 0.25) 202.083px, rgba(100, 100, 225, 0.25) 232.5px, rgba(0, 0, 0, 0) 232.5px, rgba(0, 0, 0, 0) 242.5px, rgba(100, 100, 225, 0.25) 242.5px, rgba(100, 100, 225, 0.25) 272.917px, rgba(0, 0, 0, 0) 272.917px, rgba(0, 0, 0, 0) 282.917px, rgba(100, 100, 225, 0.25) 282.917px, rgba(100, 100, 225, 0.25) 313.333px, rgba(0, 0, 0, 0) 313.333px, rgba(0, 0, 0, 0) 323.333px, rgba(100, 100, 225, 0.25) 323.333px, rgba(100, 100, 225, 0.25) 353.75px, rgba(0, 0, 0, 0) 353.75px, rgba(0, 0, 0, 0) 363.75px, rgba(100, 100, 225, 0.25) 363.75px, rgba(100, 100, 225, 0.25) 394.167px, rgba(0, 0, 0, 0) 394.167px, rgba(0, 0, 0, 0) 404.167px, rgba(100, 100, 225, 0.25) 404.167px, rgba(100, 100, 225, 0.25) 434.583px, rgba(0, 0, 0, 0) 434.583px, rgba(0, 0, 0, 0) 444.583px, rgba(100, 100, 225, 0.25) 444.583px, rgba(100, 100, 225, 0.25) 475px, rgba(0, 0, 0, 0) 475px, rgba(0, 0, 0, 0) 485px, rgba(100, 100, 225, 0.25) 485px, rgba(100, 100, 225, 0.25) 515.417px, rgba(0, 0, 0, 0) 515.417px, rgba(0, 0, 0, 0) 525.417px, rgba(100, 100, 225, 0.25) 525.417px, rgba(100, 100, 225, 0.25) 555.833px, rgba(0, 0, 0, 0) 555.833px, rgba(0, 0, 0, 0) 565.833px, rgba(100, 100, 225, 0.25) 565.833px, rgba(100, 100, 225, 0.25) 596.25px, rgba(0, 0, 0, 0) 596.25px, rgba(0, 0, 0, 0) 606.25px, rgba(100, 100, 225, 0.25) 606.25px, rgba(100, 100, 225, 0.25) 636.667px, rgba(0, 0, 0, 0) 636.667px, rgba(0, 0, 0, 0) 646.667px, rgba(100, 100, 225, 0.25) 646.667px, rgba(100, 100, 225, 0.25) 677.083px, rgba(0, 0, 0, 0) 677.083px, rgba(0, 0, 0, 0) 687.083px, rgba(100, 100, 225, 0.25) 687.083px, rgba(100, 100, 225, 0.25) 717.5px, rgba(0, 0, 0, 0) 717.5px, rgba(0, 0, 0, 0) 727.5px, rgba(100, 100, 225, 0.25) 727.5px, rgba(100, 100, 225, 0.25) 757.917px, rgba(0, 0, 0, 0) 757.917px, rgba(0, 0, 0, 0) 767.917px, rgba(100, 100, 225, 0.25) 767.917px, rgba(100, 100, 225, 0.25) 798.333px, rgba(0, 0, 0, 0) 798.333px, rgba(0, 0, 0, 0) 808.333px, rgba(100, 100, 225, 0.25) 808.333px, rgba(100, 100, 225, 0.25) 838.75px, rgba(0, 0, 0, 0) 838.75px, rgba(0, 0, 0, 0) 848.75px, rgba(100, 100, 225, 0.25) 848.75px, rgba(100, 100, 225, 0.25) 879.167px, rgba(0, 0, 0, 0) 879.167px, rgba(0, 0, 0, 0) 889.167px, rgba(100, 100, 225, 0.25) 889.167px, rgba(100, 100, 225, 0.25) 919.583px, rgba(0, 0, 0, 0) 919.583px, rgba(0, 0, 0, 0) 929.583px, rgba(100, 100, 225, 0.25) 929.583px, rgba(100, 100, 225, 0.25) 960.0px, rgba(0, 0, 0, 0) 960.0px, rgba(0, 0, 0, 0) 970.0px);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30.417px, rgba(0, 0, 0, 0) 30.417px, rgba(0, 0, 0, 0) 40.417px, rgba(100, 100, 225, 0.25) 40.417px, rgba(100, 100, 225, 0.25) 70.833px, rgba(0, 0, 0, 0) 70.833px, rgba(0, 0, 0, 0) 80.833px, rgba(100, 100, 225, 0.25) 80.833px, rgba(100, 100, 225, 0.25) 111.25px, rgba(0, 0, 0, 0) 111.25px, rgba(0, 0, 0, 0) 121.25px, rgba(100, 100, 225, 0.25) 121.25px, rgba(100, 100, 225, 0.25) 151.667px, rgba(0, 0, 0, 0) 151.667px, rgba(0, 0, 0, 0) 161.667px, rgba(100, 100, 225, 0.25) 161.667px, rgba(100, 100, 225, 0.25) 192.083px, rgba(0, 0, 0, 0) 192.083px, rgba(0, 0, 0, 0) 202.083px, rgba(100, 100, 225, 0.25) 202.083px, rgba(100, 100, 225, 0.25) 232.5px, rgba(0, 0, 0, 0) 232.5px, rgba(0, 0, 0, 0) 242.5px, rgba(100, 100, 225, 0.25) 242.5px, rgba(100, 100, 225, 0.25) 272.917px, rgba(0, 0, 0, 0) 272.917px, rgba(0, 0, 0, 0) 282.917px, rgba(100, 100, 225, 0.25) 282.917px, rgba(100, 100, 225, 0.25) 313.333px, rgba(0, 0, 0, 0) 313.333px, rgba(0, 0, 0, 0) 323.333px, rgba(100, 100, 225, 0.25) 323.333px, rgba(100, 100, 225, 0.25) 353.75px, rgba(0, 0, 0, 0) 353.75px, rgba(0, 0, 0, 0) 363.75px, rgba(100, 100, 225, 0.25) 363.75px, rgba(100, 100, 225, 0.25) 394.167px, rgba(0, 0, 0, 0) 394.167px, rgba(0, 0, 0, 0) 404.167px, rgba(100, 100, 225, 0.25) 404.167px, rgba(100, 100, 225, 0.25) 434.583px, rgba(0, 0, 0, 0) 434.583px, rgba(0, 0, 0, 0) 444.583px, rgba(100, 100, 225, 0.25) 444.583px, rgba(100, 100, 225, 0.25) 475px, rgba(0, 0, 0, 0) 475px, rgba(0, 0, 0, 0) 485px, rgba(100, 100, 225, 0.25) 485px, rgba(100, 100, 225, 0.25) 515.417px, rgba(0, 0, 0, 0) 515.417px, rgba(0, 0, 0, 0) 525.417px, rgba(100, 100, 225, 0.25) 525.417px, rgba(100, 100, 225, 0.25) 555.833px, rgba(0, 0, 0, 0) 555.833px, rgba(0, 0, 0, 0) 565.833px, rgba(100, 100, 225, 0.25) 565.833px, rgba(100, 100, 225, 0.25) 596.25px, rgba(0, 0, 0, 0) 596.25px, rgba(0, 0, 0, 0) 606.25px, rgba(100, 100, 225, 0.25) 606.25px, rgba(100, 100, 225, 0.25) 636.667px, rgba(0, 0, 0, 0) 636.667px, rgba(0, 0, 0, 0) 646.667px, rgba(100, 100, 225, 0.25) 646.667px, rgba(100, 100, 225, 0.25) 677.083px, rgba(0, 0, 0, 0) 677.083px, rgba(0, 0, 0, 0) 687.083px, rgba(100, 100, 225, 0.25) 687.083px, rgba(100, 100, 225, 0.25) 717.5px, rgba(0, 0, 0, 0) 717.5px, rgba(0, 0, 0, 0) 727.5px, rgba(100, 100, 225, 0.25) 727.5px, rgba(100, 100, 225, 0.25) 757.917px, rgba(0, 0, 0, 0) 757.917px, rgba(0, 0, 0, 0) 767.917px, rgba(100, 100, 225, 0.25) 767.917px, rgba(100, 100, 225, 0.25) 798.333px, rgba(0, 0, 0, 0) 798.333px, rgba(0, 0, 0, 0) 808.333px, rgba(100, 100, 225, 0.25) 808.333px, rgba(100, 100, 225, 0.25) 838.75px, rgba(0, 0, 0, 0) 838.75px, rgba(0, 0, 0, 0) 848.75px, rgba(100, 100, 225, 0.25) 848.75px, rgba(100, 100, 225, 0.25) 879.167px, rgba(0, 0, 0, 0) 879.167px, rgba(0, 0, 0, 0) 889.167px, rgba(100, 100, 225, 0.25) 889.167px, rgba(100, 100, 225, 0.25) 919.583px, rgba(0, 0, 0, 0) 919.583px, rgba(0, 0, 0, 0) 929.583px, rgba(100, 100, 225, 0.25) 929.583px, rgba(100, 100, 225, 0.25) 960.0px, rgba(0, 0, 0, 0) 960.0px, rgba(0, 0, 0, 0) 970.0px);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30.417px, rgba(0, 0, 0, 0) 30.417px, rgba(0, 0, 0, 0) 40.417px, rgba(100, 100, 225, 0.25) 40.417px, rgba(100, 100, 225, 0.25) 70.833px, rgba(0, 0, 0, 0) 70.833px, rgba(0, 0, 0, 0) 80.833px, rgba(100, 100, 225, 0.25) 80.833px, rgba(100, 100, 225, 0.25) 111.25px, rgba(0, 0, 0, 0) 111.25px, rgba(0, 0, 0, 0) 121.25px, rgba(100, 100, 225, 0.25) 121.25px, rgba(100, 100, 225, 0.25) 151.667px, rgba(0, 0, 0, 0) 151.667px, rgba(0, 0, 0, 0) 161.667px, rgba(100, 100, 225, 0.25) 161.667px, rgba(100, 100, 225, 0.25) 192.083px, rgba(0, 0, 0, 0) 192.083px, rgba(0, 0, 0, 0) 202.083px, rgba(100, 100, 225, 0.25) 202.083px, rgba(100, 100, 225, 0.25) 232.5px, rgba(0, 0, 0, 0) 232.5px, rgba(0, 0, 0, 0) 242.5px, rgba(100, 100, 225, 0.25) 242.5px, rgba(100, 100, 225, 0.25) 272.917px, rgba(0, 0, 0, 0) 272.917px, rgba(0, 0, 0, 0) 282.917px, rgba(100, 100, 225, 0.25) 282.917px, rgba(100, 100, 225, 0.25) 313.333px, rgba(0, 0, 0, 0) 313.333px, rgba(0, 0, 0, 0) 323.333px, rgba(100, 100, 225, 0.25) 323.333px, rgba(100, 100, 225, 0.25) 353.75px, rgba(0, 0, 0, 0) 353.75px, rgba(0, 0, 0, 0) 363.75px, rgba(100, 100, 225, 0.25) 363.75px, rgba(100, 100, 225, 0.25) 394.167px, rgba(0, 0, 0, 0) 394.167px, rgba(0, 0, 0, 0) 404.167px, rgba(100, 100, 225, 0.25) 404.167px, rgba(100, 100, 225, 0.25) 434.583px, rgba(0, 0, 0, 0) 434.583px, rgba(0, 0, 0, 0) 444.583px, rgba(100, 100, 225, 0.25) 444.583px, rgba(100, 100, 225, 0.25) 475px, rgba(0, 0, 0, 0) 475px, rgba(0, 0, 0, 0) 485px, rgba(100, 100, 225, 0.25) 485px, rgba(100, 100, 225, 0.25) 515.417px, rgba(0, 0, 0, 0) 515.417px, rgba(0, 0, 0, 0) 525.417px, rgba(100, 100, 225, 0.25) 525.417px, rgba(100, 100, 225, 0.25) 555.833px, rgba(0, 0, 0, 0) 555.833px, rgba(0, 0, 0, 0) 565.833px, rgba(100, 100, 225, 0.25) 565.833px, rgba(100, 100, 225, 0.25) 596.25px, rgba(0, 0, 0, 0) 596.25px, rgba(0, 0, 0, 0) 606.25px, rgba(100, 100, 225, 0.25) 606.25px, rgba(100, 100, 225, 0.25) 636.667px, rgba(0, 0, 0, 0) 636.667px, rgba(0, 0, 0, 0) 646.667px, rgba(100, 100, 225, 0.25) 646.667px, rgba(100, 100, 225, 0.25) 677.083px, rgba(0, 0, 0, 0) 677.083px, rgba(0, 0, 0, 0) 687.083px, rgba(100, 100, 225, 0.25) 687.083px, rgba(100, 100, 225, 0.25) 717.5px, rgba(0, 0, 0, 0) 717.5px, rgba(0, 0, 0, 0) 727.5px, rgba(100, 100, 225, 0.25) 727.5px, rgba(100, 100, 225, 0.25) 757.917px, rgba(0, 0, 0, 0) 757.917px, rgba(0, 0, 0, 0) 767.917px, rgba(100, 100, 225, 0.25) 767.917px, rgba(100, 100, 225, 0.25) 798.333px, rgba(0, 0, 0, 0) 798.333px, rgba(0, 0, 0, 0) 808.333px, rgba(100, 100, 225, 0.25) 808.333px, rgba(100, 100, 225, 0.25) 838.75px, rgba(0, 0, 0, 0) 838.75px, rgba(0, 0, 0, 0) 848.75px, rgba(100, 100, 225, 0.25) 848.75px, rgba(100, 100, 225, 0.25) 879.167px, rgba(0, 0, 0, 0) 879.167px, rgba(0, 0, 0, 0) 889.167px, rgba(100, 100, 225, 0.25) 889.167px, rgba(100, 100, 225, 0.25) 919.583px, rgba(0, 0, 0, 0) 919.583px, rgba(0, 0, 0, 0) 929.583px, rgba(100, 100, 225, 0.25) 929.583px, rgba(100, 100, 225, 0.25) 960.0px, rgba(0, 0, 0, 0) 960.0px, rgba(0, 0, 0, 0) 970.0px);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30.417px, rgba(0, 0, 0, 0) 30.417px, rgba(0, 0, 0, 0) 40.417px, rgba(100, 100, 225, 0.25) 40.417px, rgba(100, 100, 225, 0.25) 70.833px, rgba(0, 0, 0, 0) 70.833px, rgba(0, 0, 0, 0) 80.833px, rgba(100, 100, 225, 0.25) 80.833px, rgba(100, 100, 225, 0.25) 111.25px, rgba(0, 0, 0, 0) 111.25px, rgba(0, 0, 0, 0) 121.25px, rgba(100, 100, 225, 0.25) 121.25px, rgba(100, 100, 225, 0.25) 151.667px, rgba(0, 0, 0, 0) 151.667px, rgba(0, 0, 0, 0) 161.667px, rgba(100, 100, 225, 0.25) 161.667px, rgba(100, 100, 225, 0.25) 192.083px, rgba(0, 0, 0, 0) 192.083px, rgba(0, 0, 0, 0) 202.083px, rgba(100, 100, 225, 0.25) 202.083px, rgba(100, 100, 225, 0.25) 232.5px, rgba(0, 0, 0, 0) 232.5px, rgba(0, 0, 0, 0) 242.5px, rgba(100, 100, 225, 0.25) 242.5px, rgba(100, 100, 225, 0.25) 272.917px, rgba(0, 0, 0, 0) 272.917px, rgba(0, 0, 0, 0) 282.917px, rgba(100, 100, 225, 0.25) 282.917px, rgba(100, 100, 225, 0.25) 313.333px, rgba(0, 0, 0, 0) 313.333px, rgba(0, 0, 0, 0) 323.333px, rgba(100, 100, 225, 0.25) 323.333px, rgba(100, 100, 225, 0.25) 353.75px, rgba(0, 0, 0, 0) 353.75px, rgba(0, 0, 0, 0) 363.75px, rgba(100, 100, 225, 0.25) 363.75px, rgba(100, 100, 225, 0.25) 394.167px, rgba(0, 0, 0, 0) 394.167px, rgba(0, 0, 0, 0) 404.167px, rgba(100, 100, 225, 0.25) 404.167px, rgba(100, 100, 225, 0.25) 434.583px, rgba(0, 0, 0, 0) 434.583px, rgba(0, 0, 0, 0) 444.583px, rgba(100, 100, 225, 0.25) 444.583px, rgba(100, 100, 225, 0.25) 475px, rgba(0, 0, 0, 0) 475px, rgba(0, 0, 0, 0) 485px, rgba(100, 100, 225, 0.25) 485px, rgba(100, 100, 225, 0.25) 515.417px, rgba(0, 0, 0, 0) 515.417px, rgba(0, 0, 0, 0) 525.417px, rgba(100, 100, 225, 0.25) 525.417px, rgba(100, 100, 225, 0.25) 555.833px, rgba(0, 0, 0, 0) 555.833px, rgba(0, 0, 0, 0) 565.833px, rgba(100, 100, 225, 0.25) 565.833px, rgba(100, 100, 225, 0.25) 596.25px, rgba(0, 0, 0, 0) 596.25px, rgba(0, 0, 0, 0) 606.25px, rgba(100, 100, 225, 0.25) 606.25px, rgba(100, 100, 225, 0.25) 636.667px, rgba(0, 0, 0, 0) 636.667px, rgba(0, 0, 0, 0) 646.667px, rgba(100, 100, 225, 0.25) 646.667px, rgba(100, 100, 225, 0.25) 677.083px, rgba(0, 0, 0, 0) 677.083px, rgba(0, 0, 0, 0) 687.083px, rgba(100, 100, 225, 0.25) 687.083px, rgba(100, 100, 225, 0.25) 717.5px, rgba(0, 0, 0, 0) 717.5px, rgba(0, 0, 0, 0) 727.5px, rgba(100, 100, 225, 0.25) 727.5px, rgba(100, 100, 225, 0.25) 757.917px, rgba(0, 0, 0, 0) 757.917px, rgba(0, 0, 0, 0) 767.917px, rgba(100, 100, 225, 0.25) 767.917px, rgba(100, 100, 225, 0.25) 798.333px, rgba(0, 0, 0, 0) 798.333px, rgba(0, 0, 0, 0) 808.333px, rgba(100, 100, 225, 0.25) 808.333px, rgba(100, 100, 225, 0.25) 838.75px, rgba(0, 0, 0, 0) 838.75px, rgba(0, 0, 0, 0) 848.75px, rgba(100, 100, 225, 0.25) 848.75px, rgba(100, 100, 225, 0.25) 879.167px, rgba(0, 0, 0, 0) 879.167px, rgba(0, 0, 0, 0) 889.167px, rgba(100, 100, 225, 0.25) 889.167px, rgba(100, 100, 225, 0.25) 919.583px, rgba(0, 0, 0, 0) 919.583px, rgba(0, 0, 0, 0) 929.583px, rgba(100, 100, 225, 0.25) 929.583px, rgba(100, 100, 225, 0.25) 960.0px, rgba(0, 0, 0, 0) 960.0px, rgba(0, 0, 0, 0) 970.0px);
  -moz-background-size: 100% 18px, auto;
  -webkit-background-size: 100% 18px, auto;
  -o-background-size: 100% 18px, auto;
  background-size: 100% 18px, auto;
  background-position: left top;
}
/* line 4, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .feedback, body.bp .error, body.bp .alert, body.bp .notice, body.bp .success, body.bp .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}
/* line 5, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error, body.bp .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error a, body.bp .alert a {
  color: #8a1f11;
}
/* line 7, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice a {
  color: #514721;
}
/* line 8, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success a {
  color: #264409;
}
/* line 9, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
/* line 54, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .info a {
  color: #205791;
}
/* line 10, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .hide {
  display: none;
}
/* line 11, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .highlight {
  background: yellow;
}
/* line 12, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 13, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .removed {
  background: #990000;
  color: white;
}

/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp label {
  font-weight: bold;
}
/* line 19, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.title {
  font-size: 1.5em;
}
/* line 29, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  margin: 0.5em 0;
}
/* line 55, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 58, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus {
  border-color: #666666;
}
/* line 65, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 46, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  width: 390px;
  height: 250px;
}
/* line 39, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
/* line 42, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp .border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #dddddd;
}
/* line 45, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp .colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #dddddd;
}
/* line 47, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 49, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 51, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp form.inline {
  line-height: 3;
}
/* line 6, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp form.inline p {
  margin-bottom: 0;
}

/* line 7, ../../sass/print.scss */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: black;
  background: none;
  font-size: 10pt;
}
/* line 45, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp .container {
  background: none;
}
/* line 47, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp hr {
  background: #cccccc;
  color: #cccccc;
  width: 100%;
  height: 2px;
  margin: 2em 0;
  padding: 0;
  border: none;
}
/* line 55, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp hr.space {
  background: white;
  color: white;
}
/* line 58, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/* line 60, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp code {
  font-size: 0.9em;
  font-family: "andale mono", "lucida console", monospace;
}
/* line 65, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp a img {
  border: none;
}
/* line 68, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp a:link, body.bp a:visited {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
}
/* line 72, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp p img.top {
  margin-top: 0;
}
/* line 74, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp blockquote {
  margin: 1.5em;
  padding: 1em;
  font-style: italic;
  font-size: 0.9em;
}
/* line 79, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp .small {
  font-size: 0.9em;
}
/* line 81, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp .large {
  font-size: 1.1em;
}
/* line 83, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp .quiet {
  color: #999999;
}
/* line 85, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp .hide {
  display: none;
}

/* line 5, ../../sass/site.sass */
body {
  margin: 20px 0;
  background-image: url("/images/graphy.png") !important;
  font-size: 14px !important;
  line-height: 21px;
}
/* line 10, ../../sass/site.sass */
body #container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 12, ../../sass/site.sass */
body header, body #ooter {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 960px;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body header, * html body #ooter {
  overflow-x: hidden;
}
/* line 14, ../../sass/site.sass */
body #main {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 960px;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #main {
  overflow-x: hidden;
}

/* line 19, ../../sass/site.sass */
header .logo {
  font-family: "Slackey", cursive;
  font-size: 5.4em;
  margin: 5px 20px;
  text-shadow: #cccccc 5px 5px 0, #cccccc -5px -5px 0;
}
/* line 23, ../../sass/site.sass */
header .logo a {
  color: black !important;
  text-decoration: none !important;
}
/* line 26, ../../sass/site.sass */
header .logo:hover {
  text-shadow: #aaaaaa 5px 5px 0, #aaaaaa -5px -5px 0;
}

/* line 31, ../../sass/site.sass */
#main {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  -khtml-border-radius: 25px;
  border-radius: 25px;
  background-color: white;
  padding: 30px 0;
  border: 1px solid #aaaaab;
  width: 948px !important;
}
/* line 37, ../../sass/site.sass */
#main #wrapper {
  padding-right: 40.417px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 879.167px;
  padding-left: 40.417px;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #main #wrapper {
  overflow-x: hidden;
}
/* line 41, ../../sass/site.sass */
#main p {
  font-size: 1.2em;
  line-height: 1.5em;
}

/* line 44, ../../sass/site.sass */
.highlight {
  background: #eeeeee url("/images/pygments/tab_grey.gif") no-repeat !important;
  padding: 0px 0px;
  margin: 0px 5px 1.5em;
  min-height: 40px;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
  line-height: 1.2em;
  font-size: 1.1em;
}
/* line 52, ../../sass/site.sass */
.highlight pre {
  margin: 0 5px 5px 0 !important;
  padding-top: 10px;
}
/* line 55, ../../sass/site.sass */
.highlight .gutter {
  width: 2px;
  padding: 4px 10px 4px 40px;
}
/* line 58, ../../sass/site.sass */
.highlight table {
  margin: 0 !important;
}
/* line 60, ../../sass/site.sass */
.highlight .code {
  padding: 4px 10px 4px 0px;
  background-color: #fffffa;
}

/* line 64, ../../sass/site.sass */
.mono, pre, code, tt, p code, li code {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !important;
}

/* line 67, ../../sass/site.sass */
.highlight.ruby {
  background: #eeeeee url("/images/pygments/tab_grey_ruby.png") no-repeat !important;
}

/* line 1, ../../sass/pygments.scss */
.highlight {
  background-color: #ffffcc;
}

/* line 2, ../../sass/pygments.scss */
.highlight .c {
  color: #586E75;
}

/* Comment */
/* line 3, ../../sass/pygments.scss */
.highlight .err {
  color: #93A1A1;
}

/* Error */
/* line 4, ../../sass/pygments.scss */
.highlight .g {
  color: #93A1A1;
}

/* Generic */
/* line 5, ../../sass/pygments.scss */
.highlight .k {
  color: #859900;
}

/* Keyword */
/* line 6, ../../sass/pygments.scss */
.highlight .l {
  color: #93A1A1;
}

/* Literal */
/* line 7, ../../sass/pygments.scss */
.highlight .n {
  color: #93A1A1;
}

/* Name */
/* line 8, ../../sass/pygments.scss */
.highlight .o {
  color: #859900;
}

/* Operator */
/* line 9, ../../sass/pygments.scss */
.highlight .x {
  color: #CB4B16;
}

/* Other */
/* line 10, ../../sass/pygments.scss */
.highlight .p {
  color: #93A1A1;
}

/* Punctuation */
/* line 11, ../../sass/pygments.scss */
.highlight .cm {
  color: #586E75;
}

/* Comment.Multiline */
/* line 12, ../../sass/pygments.scss */
.highlight .cp {
  color: #859900;
}

/* Comment.Preproc */
/* line 13, ../../sass/pygments.scss */
.highlight .c1 {
  color: #586E75;
}

/* Comment.Single */
/* line 14, ../../sass/pygments.scss */
.highlight .cs {
  color: #859900;
}

/* Comment.Special */
/* line 15, ../../sass/pygments.scss */
.highlight .gd {
  color: #2AA198;
}

/* Generic.Deleted */
/* line 16, ../../sass/pygments.scss */
.highlight .ge {
  color: #93A1A1;
  font-style: italic;
}

/* Generic.Emph */
/* line 17, ../../sass/pygments.scss */
.highlight .gr {
  color: #DC322F;
}

/* Generic.Error */
/* line 18, ../../sass/pygments.scss */
.highlight .gh {
  color: #CB4B16;
}

/* Generic.Heading */
/* line 19, ../../sass/pygments.scss */
.highlight .gi {
  color: #859900;
}

/* Generic.Inserted */
/* line 20, ../../sass/pygments.scss */
.highlight .go {
  color: #93A1A1;
}

/* Generic.Output */
/* line 21, ../../sass/pygments.scss */
.highlight .gp {
  color: #93A1A1;
}

/* Generic.Prompt */
/* line 22, ../../sass/pygments.scss */
.highlight .gs {
  color: #93A1A1;
  font-weight: bold;
}

/* Generic.Strong */
/* line 23, ../../sass/pygments.scss */
.highlight .gu {
  color: #CB4B16;
}

/* Generic.Subheading */
/* line 24, ../../sass/pygments.scss */
.highlight .gt {
  color: #93A1A1;
}

/* Generic.Traceback */
/* line 25, ../../sass/pygments.scss */
.highlight .kc {
  color: #CB4B16;
}

/* Keyword.Constant */
/* line 26, ../../sass/pygments.scss */
.highlight .kd {
  color: #268BD2;
}

/* Keyword.Declaration */
/* line 27, ../../sass/pygments.scss */
.highlight .kn {
  color: #859900;
}

/* Keyword.Namespace */
/* line 28, ../../sass/pygments.scss */
.highlight .kp {
  color: #859900;
}

/* Keyword.Pseudo */
/* line 29, ../../sass/pygments.scss */
.highlight .kr {
  color: #268BD2;
}

/* Keyword.Reserved */
/* line 30, ../../sass/pygments.scss */
.highlight .kt {
  color: #DC322F;
}

/* Keyword.Type */
/* line 31, ../../sass/pygments.scss */
.highlight .ld {
  color: #93A1A1;
}

/* Literal.Date */
/* line 32, ../../sass/pygments.scss */
.highlight .m {
  color: #2AA198;
}

/* Literal.Number */
/* line 33, ../../sass/pygments.scss */
.highlight .s {
  color: #2AA198;
}

/* Literal.String */
/* line 34, ../../sass/pygments.scss */
.highlight .na {
  color: #93A1A1;
}

/* Name.Attribute */
/* line 35, ../../sass/pygments.scss */
.highlight .nb {
  color: #B58900;
}

/* Name.Builtin */
/* line 36, ../../sass/pygments.scss */
.highlight .nc {
  color: #268BD2;
}

/* Name.Class */
/* line 37, ../../sass/pygments.scss */
.highlight .no {
  color: #CB4B16;
}

/* Name.Constant */
/* line 38, ../../sass/pygments.scss */
.highlight .nd {
  color: #268BD2;
}

/* Name.Decorator */
/* line 39, ../../sass/pygments.scss */
.highlight .ni {
  color: #CB4B16;
}

/* Name.Entity */
/* line 40, ../../sass/pygments.scss */
.highlight .ne {
  color: #CB4B16;
}

/* Name.Exception */
/* line 41, ../../sass/pygments.scss */
.highlight .nf {
  color: #268BD2;
}

/* Name.Function */
/* line 42, ../../sass/pygments.scss */
.highlight .nl {
  color: #93A1A1;
}

/* Name.Label */
/* line 43, ../../sass/pygments.scss */
.highlight .nn {
  color: #93A1A1;
}

/* Name.Namespace */
/* line 44, ../../sass/pygments.scss */
.highlight .nx {
  color: #93A1A1;
}

/* Name.Other */
/* line 45, ../../sass/pygments.scss */
.highlight .py {
  color: #93A1A1;
}

/* Name.Property */
/* line 46, ../../sass/pygments.scss */
.highlight .nt {
  color: #268BD2;
}

/* Name.Tag */
/* line 47, ../../sass/pygments.scss */
.highlight .nv {
  color: #268BD2;
}

/* Name.Variable */
/* line 48, ../../sass/pygments.scss */
.highlight .ow {
  color: #859900;
}

/* Operator.Word */
/* line 49, ../../sass/pygments.scss */
.highlight .w {
  color: #93A1A1;
}

/* Text.Whitespace */
/* line 50, ../../sass/pygments.scss */
.highlight .mf {
  color: #2AA198;
}

/* Literal.Number.Float */
/* line 51, ../../sass/pygments.scss */
.highlight .mh {
  color: #2AA198;
}

/* Literal.Number.Hex */
/* line 52, ../../sass/pygments.scss */
.highlight .mi {
  color: #2AA198;
}

/* Literal.Number.Integer */
/* line 53, ../../sass/pygments.scss */
.highlight .mo {
  color: #2AA198;
}

/* Literal.Number.Oct */
/* line 54, ../../sass/pygments.scss */
.highlight .sb {
  color: #586E75;
}

/* Literal.String.Backtick */
/* line 55, ../../sass/pygments.scss */
.highlight .sc {
  color: #2AA198;
}

/* Literal.String.Char */
/* line 56, ../../sass/pygments.scss */
.highlight .sd {
  color: #93A1A1;
}

/* Literal.String.Doc */
/* line 57, ../../sass/pygments.scss */
.highlight .s2 {
  color: #2AA198;
}

/* Literal.String.Double */
/* line 58, ../../sass/pygments.scss */
.highlight .se {
  color: #CB4B16;
}

/* Literal.String.Escape */
/* line 59, ../../sass/pygments.scss */
.highlight .sh {
  color: #93A1A1;
}

/* Literal.String.Heredoc */
/* line 60, ../../sass/pygments.scss */
.highlight .si {
  color: #2AA198;
}

/* Literal.String.Interpol */
/* line 61, ../../sass/pygments.scss */
.highlight .sx {
  color: #2AA198;
}

/* Literal.String.Other */
/* line 62, ../../sass/pygments.scss */
.highlight .sr {
  color: #DC322F;
}

/* Literal.String.Regex */
/* line 63, ../../sass/pygments.scss */
.highlight .s1 {
  color: #2AA198;
}

/* Literal.String.Single */
/* line 64, ../../sass/pygments.scss */
.highlight .ss {
  color: #2AA198;
}

/* Literal.String.Symbol */
/* line 65, ../../sass/pygments.scss */
.highlight .bp {
  color: #268BD2;
}

/* Name.Builtin.Pseudo */
/* line 66, ../../sass/pygments.scss */
.highlight .vc {
  color: #268BD2;
}

/* Name.Variable.Class */
/* line 67, ../../sass/pygments.scss */
.highlight .vg {
  color: #268BD2;
}

/* Name.Variable.Global */
/* line 68, ../../sass/pygments.scss */
.highlight .vi {
  color: #268BD2;
}

/* Name.Variable.Instance */
/* line 69, ../../sass/pygments.scss */
.highlight .il {
  color: #2AA198;
}

/* Literal.Number.Integer.Long */
