/* line 3, ../_assets/sass/content.sass */
body {
  background-image: url("/images/graphy.png") !important;
}

/* line 5, ../_assets/sass/content.sass */
#container {
  min-width: 480px;
}

/* line 9, ../_assets/sass/content.sass */
#container > .container-fluid .row-fluid .content {
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid #eeeeee;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
}

/* line 16, ../_assets/sass/content.sass */
.content h1 {
  margin-bottom: 10px;
}
/* line 18, ../_assets/sass/content.sass */
.content .posted_at {
  margin-bottom: 10px;
}
/* line 20, ../_assets/sass/content.sass */
.content .articles h1 {
  font-size: 22px;
}
