/* line 5, ../_assets/sass/site.sass */
body {
  background-image: url("/images/graphy.png") !important;
  padding-top: 40px;
}

/* line 10, ../_assets/sass/site.sass */
header .topbar .brand {
  font-family: "Slackey", cursive;
  font-size: 1.8em;
  width: 240px;
}

/* line 15, ../_assets/sass/site.sass */
.container > .row > .content {
  background-color: white;
  padding: 20px;
  margin: 0 -20px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -o-border-bottom-left-radius: 6px;
  -ms-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
}

/* line 22, ../_assets/sass/site.sass */
#drop-pane {
  width: 280px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  height: 550px;
  position: absolute;
  top: 42px;
  margin-left: -22px;
  background-color: #999999;
  display: none;
}
/* line 31, ../_assets/sass/site.sass */
#drop-pane .wrapper {
  width: 270px;
  height: 530px;
  padding: 10px 5px;
  overflow-y: auto;
  font-size: 1.2em;
  line-height: 1.5em;
}

/* line 39, ../_assets/sass/site.sass */
p {
  font-size: 14px;
  line-height: 21px;
}

/* line 43, ../_assets/sass/site.sass */
.highlight {
  background: #eeeeee url("/images/pygments/tab_grey.gif") no-repeat !important;
  padding: 0px 0px;
  margin: 0px 5px 1.5em;
  min-height: 40px;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
  line-height: 1.2em;
  font-size: 1.1em;
  background: #eeeeee url("/images/pygments/tab_grey_ruby.png") no-repeat !important;
}
/* line 51, ../_assets/sass/site.sass */
.highlight pre {
  margin: 0 5px 5px 0 !important;
  padding-top: 10px;
  border: none;
  background-color: #fffffb;
}
/* line 56, ../_assets/sass/site.sass */
.highlight .gutter {
  width: 2px;
  padding: 4px 0 4px 40px;
}
/* line 59, ../_assets/sass/site.sass */
.highlight .gutter pre {
  background-color: #eeeeee;
  color: #888888;
}
/* line 62, ../_assets/sass/site.sass */
.highlight table {
  margin: 0 !important;
}
/* line 64, ../_assets/sass/site.sass */
.highlight .code {
  padding: 4px 10px 4px 0px;
  background-color: #fffffb;
  border: 1px solid #dfdfdf;
  border-top: 1px solid #eeeeee;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
}
/* line 70, ../_assets/sass/site.sass */
.highlight td {
  border: none;
}
/* line 72, ../_assets/sass/site.sass */
.highlight code {
  background-color: #fffffb;
}

/* line 77, ../_assets/sass/site.sass */
.mono, pre, code, tt, p code, li code {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !important;
}

/* line 80, ../_assets/sass/site.sass */
footer p {
  text-align: center;
}
