/* line 5, ../_assets/sass/site.sass */
body {
  background-image: url("/images/graphy.png") !important;
}

/* line 8, ../_assets/sass/site.sass */
header {
  height: 190px;
}
/* line 11, ../_assets/sass/site.sass */
header .topbar .brand {
  font-family: "Slackey", cursive;
  font-size: 20px;
  width: 240px;
}
/* line 16, ../_assets/sass/site.sass */
header .topbar ul.nav li {
  border-top: 2px solid #323232;
}
/* line 18, ../_assets/sass/site.sass */
header .topbar ul.nav li:hover, header .topbar ul.nav li.banner {
  border-color: #e82517 !important;
}
/* line 20, ../_assets/sass/site.sass */
header .topbar ul.nav li.active {
  border-color: #222222;
}

/* line 24, ../_assets/sass/site.sass */
.container > .row > .content {
  background-color: white;
  padding: 20px;
  margin: 0 -20px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -o-border-bottom-left-radius: 6px;
  -ms-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
}

/* line 31, ../_assets/sass/site.sass */
.topbar.relative {
  position: relative;
}

/* line 34, ../_assets/sass/site.sass */
#banner {
  height: 150px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 30px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 30px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 30px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 30px inset;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0069d6), color-stop(100%, #006fe3));
  background-image: -webkit-linear-gradient(#0069d6, #006fe3);
  background-image: -moz-linear-gradient(#0069d6, #006fe3);
  background-image: -o-linear-gradient(#0069d6, #006fe3);
  background-image: -ms-linear-gradient(#0069d6, #006fe3);
  background-image: linear-gradient(#0069d6, #006fe3);
}
/* line 38, ../_assets/sass/site.sass */
#banner .wrapper {
  background: url("/images/grid-18px.png") repeat scroll center top transparent;
  height: 150px;
}
/* line 41, ../_assets/sass/site.sass */
#banner ul {
  list-style: none outside none;
  max-height: 124px;
  overflow: hidden;
}
/* line 45, ../_assets/sass/site.sass */
#banner li {
  color: white;
  display: none;
}
/* line 48, ../_assets/sass/site.sass */
#banner li.active {
  display: block;
}
/* line 50, ../_assets/sass/site.sass */
#banner .excerpt {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 20px;
  float: none;
}
/* line 57, ../_assets/sass/site.sass */
#banner .excerpt .text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px;
}
/* line 58, ../_assets/sass/site.sass */
#banner .excerpt .text .title {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.5em;
}
/* line 65, ../_assets/sass/site.sass */
#banner .text p {
  line-height: 20px;
  font-size: 15px;
}

/* line 69, ../_assets/sass/site.sass */
#social-icon {
  float: right;
}
/* line 71, ../_assets/sass/site.sass */
#social-icon a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}
/* line 73, ../_assets/sass/site.sass */
#social-icon a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 76, ../_assets/sass/site.sass */
.popover {
  z-index: 20000;
}

/* line 79, ../_assets/sass/site.sass */
#drop-pane {
  width: 280px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  height: 550px;
  position: absolute;
  top: 42px;
  margin-left: -22px;
  background-color: #999999;
  display: none;
}
/* line 88, ../_assets/sass/site.sass */
#drop-pane .wrapper {
  width: 270px;
  height: 530px;
  padding: 10px 5px;
  overflow-y: auto;
  font-size: 1.2em;
  line-height: 1.5em;
}

/* line 96, ../_assets/sass/site.sass */
p {
  font-size: 14px;
  line-height: 21px;
}

/* line 100, ../_assets/sass/site.sass */
.highlight {
  background: #eeeeee url("/images/pygments/tab_grey.gif") no-repeat !important;
  padding: 0px 0px;
  margin: 0px 5px 1.5em;
  min-height: 40px;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
  line-height: 1.2em;
  font-size: 1.1em;
}
/* line 108, ../_assets/sass/site.sass */
.highlight pre {
  margin: 0 5px 5px 0 !important;
  padding-top: 10px;
  border: none;
  background-color: #141414;
}
/* line 113, ../_assets/sass/site.sass */
.highlight .gutter {
  width: 2px;
  padding: 4px 0 4px 40px;
}
/* line 116, ../_assets/sass/site.sass */
.highlight .gutter pre {
  background-color: #eeeeee;
  color: #888888;
}
/* line 119, ../_assets/sass/site.sass */
.highlight table {
  margin: 0 !important;
}
/* line 121, ../_assets/sass/site.sass */
.highlight .code {
  padding: 4px 10px 4px 0px;
  background-color: #141414;
  border: 1px solid #dfdfdf;
  border-top: 1px solid #eeeeee;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
}
/* line 127, ../_assets/sass/site.sass */
.highlight td {
  border: none;
}
/* line 129, ../_assets/sass/site.sass */
.highlight code {
  background-color: #141414;
  padding-left: 0;
  color: #f8f8f8;
}

/* line 134, ../_assets/sass/site.sass */
.highlight.ruby {
  background: #eeeeee url("/images/pygments/tab_grey_ruby.png") no-repeat !important;
}

/* line 136, ../_assets/sass/site.sass */
.highlight.bash {
  background: #eeeeee url("/images/pygments/tab_grey_bash.png") no-repeat !important;
}

/* line 140, ../_assets/sass/site.sass */
.bogus-wrapper figure {
  margin: 0 10px;
}

/* line 143, ../_assets/sass/site.sass */
code {
  background-color: #dddddd;
}

/* line 146, ../_assets/sass/site.sass */
.mono, pre, code, tt, p code, li code {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !important;
}

/* line 149, ../_assets/sass/site.sass */
footer p {
  text-align: center;
}
