@media (max-width: 480px) {
  /* line 2, ../_assets/sass/site-responsive.sass */
  .content h2 {
    font-size: 1.4em;
  }

  /* line 4, ../_assets/sass/site-responsive.sass */
  #banner {
    height: 0;
    overflow: hidden;
  }

  /* line 1, ../_assets/sass/partials/_navbar.sass */
  .navbar {
    margin-bottom: 0;
  }
  /* line 3, ../_assets/sass/partials/_navbar.sass */
  .navbar .nav {
    clear: both;
    margin-bottom: 0;
  }
  /* line 6, ../_assets/sass/partials/_navbar.sass */
  .navbar .nav-collapse {
    clear: both;
  }

  /* line 8, ../_assets/sass/partials/_navbar.sass */
  header {
    height: auto;
  }
}
@media (max-width: 768px) {
  /* line 1, ../_assets/sass/partials/_navbar.sass */
  .navbar {
    margin-bottom: 0;
  }
  /* line 3, ../_assets/sass/partials/_navbar.sass */
  .navbar .nav {
    clear: both;
    margin-bottom: 0;
  }
  /* line 6, ../_assets/sass/partials/_navbar.sass */
  .navbar .nav-collapse {
    clear: both;
  }

  /* line 8, ../_assets/sass/partials/_navbar.sass */
  header {
    height: auto;
  }

  /* line 13, ../_assets/sass/site-responsive.sass */
  .excerpt p.title {
    display: block;
    font-size: 1.3em !important;
  }
  /* line 16, ../_assets/sass/site-responsive.sass */
  .excerpt p {
    height: 40px;
  }

  /* line 18, ../_assets/sass/site-responsive.sass */
  #banner ul {
    max-height: 100px;
  }

  /* line 20, ../_assets/sass/site-responsive.sass */
  #page-view {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  /* line 26, ../_assets/sass/site-responsive.sass */
  .navbar .nav-collapse {
    clear: none !important;
    height: auto !important;
  }
  /* line 29, ../_assets/sass/site-responsive.sass */
  .navbar .nav {
    display: block;
    left: 0;
    margin: 0 10px 0 0;
    position: relative;
  }
  /* line 34, ../_assets/sass/site-responsive.sass */
  .navbar .nav > li {
    float: left;
  }

  /* line 36, ../_assets/sass/site-responsive.sass */
  #banner .excerpt .text .title {
    font-size: 1.5em;
    letter-spacing: 0;
  }

  /* line 39, ../_assets/sass/site-responsive.sass */
  .btn-navbar {
    display: none;
  }
}
