<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>labs.yulrizka.com - {{ page.title }}</title>
<meta name="description" content="Technical blog of Ahmy Yulrizka">
<meta name="author" content="Ahmy Yulrizka">
<meta name="category" content="{{ page.category }}">
{% include stylesheets.html %}
</head>
<body>
<div id="container" class="sidebar-right">
  {% include header.html %}

  <div class="container-fluid">
    <div class="row-fluid">
      <div id="content-wrapper" class="span9 ">
        <div class="content">
          {{ content }}
        </div>
      </div>
      <div id="sidebar-wrapper" class="span3">
        <div class="sidebar">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>
  </div>
      
  {% include footer.html %}
</div> <!-- end of #container-->

{% include scripts.html %}

</body>
</html>