<!DOCTYPE html>
<html lang="en">
<head>
<title>labs.yulrizka.com - {{ page.title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="Technical blog of Ahmy Yulrizka">
<meta name="author" content="Ahmy Yulrizka">

{% include stylesheets.html %}
</head>
<body>
<div id="container" class="sidebar-right">
  <div class="container-fluid" id="main">
    <div class="row-fluid">
      <div id="content-wrapper" class="span9 ">
        <div class="content">
          {{ content }}
        </div>
      </div>
      <div id="sidebar-wrapper" class="span3">
        <div class="sidebar">
          <aside>
          <h2>Archives</h2>
          <ul>
            {% for post in site.posts %}

              {% unless post.next %}
                <h3>{{ post.date | date: '%Y' }}</h3>
              {% else %}
                {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
                {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
                {% if year != nyear %}
                  <h3>{{ post.date | date: '%Y' }}</h3>
                {% endif %}
              {% endunless %}

              <li>{{ post.date | date:"%b" }} <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
          </aside>
        </div>
      </div>
    </div>
  </div>
  {% include header.html %}
  {% include footer.html %}
</div> <!-- end of #container-->

{% include scripts.html %}

</body>
</html>