<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ page.title }} | labs.yulrizka.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="{{ page.description }}">
<meta name="author" content="Ahmy Yulrizka">
<meta http-equiv="Content-Language" Content="{{ page.language }}">
<meta name="keywords" content="{{ page.keywords }}" />
<meta http-equiv="date" content="{{ page.date | date_to_xmlschema }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="canonical" href="http://ahmy.yulrizka.com/">
{% include stylesheets.html %}
</head>
<body>
<div id="container" class="sidebar-right">
  <div class="container-fluid" id="main">
    <div class="row-fluid">
      <div id="content-wrapper" class="span9 ">
        <div class="content">
          <article>
            <h1>{{ page.title }}</h1>
            <div class="posted_at">{{ page.date | date_to_string }}</div>

            {{ content }}

            <hr>
            <b>Site related post:</b>
            {% for post in site.related_posts limit:5 %}
            <ul>
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            </ul>
            {% endfor %}
          </article>

          {% if page.comments %}
          <div id="disqus_thread"></div>
          <script type="text/javascript">
              //var disqus_developer = 1;
              var disqus_shortname = 'labs-yulrizka';
              var disqus_identifier = '{{ page.url }}';

              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          {% else %}
            No Comments
          {% endif %}
        </div>
      </div>
      <div id="sidebar-wrapper" class="span3">
        <div class="sidebar">
          <aside>
          <h2>Archives</h2>
          <ul>
            {% for post in site.posts %}

              {% unless post.next %}
                <h3>{{ post.date | date: '%Y' }}</h3>
              {% else %}
                {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
                {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
                {% if year != nyear %}
                  <h3>{{ post.date | date: '%Y' }}</h3>
                {% endif %}
              {% endunless %}

              <li>{{ post.date | date:"%b" }} <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
          </aside>
        </div>
      </div>
    </div>
  </div>



  {% include header.html %}

  {% include footer.html %}
</div> <!-- end of #container-->

{% include scripts.html %}

</body>
</html>
