html {
  margin: 0;
  padding: 0;
  border: 0;
}

.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

blockquote, q {
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
body.bp p {
  margin: 0 0 1.5em;
}
body.bp p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
body.bp p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
body.bp a {
  text-decoration: underline;
  color: #0066cc;
}
body.bp a:visited {
  color: #004c99;
}
body.bp a:focus {
  color: #0099ff;
}
body.bp a:hover {
  color: #0099ff;
}
body.bp a:active {
  color: #bf00ff;
}
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
body.bp strong, body.bp dfn {
  font-weight: bold;
}
body.bp em, body.bp dfn {
  font-style: italic;
}
body.bp sup, body.bp sub {
  line-height: 0;
}
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
body.bp del {
  color: #666666;
}
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
body.bp pre, body.bp code, body.bp tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
body.bp li ul, body.bp li ol {
  margin: 0;
}
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
body.bp ul {
  list-style-type: disc;
}
body.bp ol {
  list-style-type: decimal;
}
body.bp dl {
  margin: 0 0 1.5em 0;
}
body.bp dl dt {
  font-weight: bold;
}
body.bp dd {
  margin-left: 1.5em;
}
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
body.bp th {
  font-weight: bold;
}
body.bp thead th {
  background: #c3d9ff;
}
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
body.bp table.striped tr:nth-child(even) td,
body.bp table tr.even td {
  background: #e5ecf9;
}
body.bp tfoot {
  font-style: italic;
}
body.bp caption {
  background: #eeeeee;
}
body.bp .quiet {
  color: #666666;
}
body.bp .loud {
  color: #111111;
}
body.bp .clear {
  clear: both;
}
body.bp .nowrap {
  white-space: nowrap;
}
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
body.bp .showgrid {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 970.0 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(3.136%, rgba(100, 100, 225, 0.25)), color-stop(3.136%, rgba(0, 0, 0, 0)), color-stop(4.167%, rgba(0, 0, 0, 0)), color-stop(4.167%, rgba(100, 100, 225, 0.25)), color-stop(7.302%, rgba(100, 100, 225, 0.25)), color-stop(7.302%, rgba(0, 0, 0, 0)), color-stop(8.333%, rgba(0, 0, 0, 0)), color-stop(8.333%, rgba(100, 100, 225, 0.25)), color-stop(11.469%, rgba(100, 100, 225, 0.25)), color-stop(11.469%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(100, 100, 225, 0.25)), color-stop(15.636%, rgba(100, 100, 225, 0.25)), color-stop(15.636%, rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(100, 100, 225, 0.25)), color-stop(19.802%, rgba(100, 100, 225, 0.25)), color-stop(19.802%, rgba(0, 0, 0, 0)), color-stop(20.833%, rgba(0, 0, 0, 0)), color-stop(20.833%, rgba(100, 100, 225, 0.25)), color-stop(23.969%, rgba(100, 100, 225, 0.25)), color-stop(23.969%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(25.0%, rgba(100, 100, 225, 0.25)), color-stop(28.136%, rgba(100, 100, 225, 0.25)), color-stop(28.136%, rgba(0, 0, 0, 0)), color-stop(29.167%, rgba(0, 0, 0, 0)), color-stop(29.167%, rgba(100, 100, 225, 0.25)), color-stop(32.302%, rgba(100, 100, 225, 0.25)), color-stop(32.302%, rgba(0, 0, 0, 0)), color-stop(33.333%, rgba(0, 0, 0, 0)), color-stop(33.333%, rgba(100, 100, 225, 0.25)), color-stop(36.469%, rgba(100, 100, 225, 0.25)), color-stop(36.469%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(100, 100, 225, 0.25)), color-stop(40.636%, rgba(100, 100, 225, 0.25)), color-stop(40.636%, rgba(0, 0, 0, 0)), color-stop(41.667%, rgba(0, 0, 0, 0)), color-stop(41.667%, rgba(100, 100, 225, 0.25)), color-stop(44.802%, rgba(100, 100, 225, 0.25)), color-stop(44.802%, rgba(0, 0, 0, 0)), color-stop(45.833%, rgba(0, 0, 0, 0)), color-stop(45.833%, rgba(100, 100, 225, 0.25)), color-stop(48.969%, rgba(100, 100, 225, 0.25)), color-stop(48.969%, rgba(0, 0, 0, 0)), color-stop(50.0%, rgba(0, 0, 0, 0)), color-stop(50.0%, rgba(100, 100, 225, 0.25)), color-stop(53.136%, rgba(100, 100, 225, 0.25)), color-stop(53.136%, rgba(0, 0, 0, 0)), color-stop(54.167%, rgba(0, 0, 0, 0)), color-stop(54.167%, rgba(100, 100, 225, 0.25)), color-stop(57.302%, rgba(100, 100, 225, 0.25)), color-stop(57.302%, rgba(0, 0, 0, 0)), color-stop(58.333%, rgba(0, 0, 0, 0)), color-stop(58.333%, rgba(100, 100, 225, 0.25)), color-stop(61.469%, rgba(100, 100, 225, 0.25)), color-stop(61.469%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(100, 100, 225, 0.25)), color-stop(65.636%, rgba(100, 100, 225, 0.25)), color-stop(65.636%, rgba(0, 0, 0, 0)), color-stop(66.667%, rgba(0, 0, 0, 0)), color-stop(66.667%, rgba(100, 100, 225, 0.25)), color-stop(69.802%, rgba(100, 100, 225, 0.25)), color-stop(69.802%, rgba(0, 0, 0, 0)), color-stop(70.833%, rgba(0, 0, 0, 0)), color-stop(70.833%, rgba(100, 100, 225, 0.25)), color-stop(73.969%, rgba(100, 100, 225, 0.25)), color-stop(73.969%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(75.0%, rgba(100, 100, 225, 0.25)), color-stop(78.136%, rgba(100, 100, 225, 0.25)), color-stop(78.136%, rgba(0, 0, 0, 0)), color-stop(79.167%, rgba(0, 0, 0, 0)), color-stop(79.167%, rgba(100, 100, 225, 0.25)), color-stop(82.302%, rgba(100, 100, 225, 0.25)), color-stop(82.302%, rgba(0, 0, 0, 0)), color-stop(83.333%, rgba(0, 0, 0, 0)), color-stop(83.333%, rgba(100, 100, 225, 0.25)), color-stop(86.469%, rgba(100, 100, 225, 0.25)), color-stop(86.469%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(100, 100, 225, 0.25)), color-stop(90.636%, rgba(100, 100, 225, 0.25)), color-stop(90.636%, rgba(0, 0, 0, 0)), color-stop(91.667%, rgba(0, 0, 0, 0)), color-stop(91.667%, rgba(100, 100, 225, 0.25)), color-stop(94.802%, rgba(100, 100, 225, 0.25)), color-stop(94.802%, rgba(0, 0, 0, 0)), color-stop(95.833%, rgba(0, 0, 0, 0)), color-stop(95.833%, rgba(100, 100, 225, 0.25)), color-stop(98.969%, rgba(100, 100, 225, 0.25)), color-stop(98.969%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30.417px, rgba(0, 0, 0, 0) 30.417px, rgba(0, 0, 0, 0) 40.417px, rgba(100, 100, 225, 0.25) 40.417px, rgba(100, 100, 225, 0.25) 70.833px, rgba(0, 0, 0, 0) 70.833px, rgba(0, 0, 0, 0) 80.833px, rgba(100, 100, 225, 0.25) 80.833px, rgba(100, 100, 225, 0.25) 111.25px, rgba(0, 0, 0, 0) 111.25px, rgba(0, 0, 0, 0) 121.25px, rgba(100, 100, 225, 0.25) 121.25px, rgba(100, 100, 225, 0.25) 151.667px, rgba(0, 0, 0, 0) 151.667px, rgba(0, 0, 0, 0) 161.667px, rgba(100, 100, 225, 0.25) 161.667px, rgba(100, 100, 225, 0.25) 192.083px, rgba(0, 0, 0, 0) 192.083px, rgba(0, 0, 0, 0) 202.083px, rgba(100, 100, 225, 0.25) 202.083px, rgba(100, 100, 225, 0.25) 232.5px, rgba(0, 0, 0, 0) 232.5px, rgba(0, 0, 0, 0) 242.5px, rgba(100, 100, 225, 0.25) 242.5px, rgba(100, 100, 225, 0.25) 272.917px, rgba(0, 0, 0, 0) 272.917px, rgba(0, 0, 0, 0) 282.917px, rgba(100, 100, 225, 0.25) 282.917px, rgba(100, 100, 225, 0.25) 313.333px, rgba(0, 0, 0, 0) 313.333px, rgba(0, 0, 0, 0) 323.333px, rgba(100, 100, 225, 0.25) 323.333px, rgba(100, 100, 225, 0.25) 353.75px, rgba(0, 0, 0, 0) 353.75px, rgba(0, 0, 0, 0) 363.75px, rgba(100, 100, 225, 0.25) 363.75px, rgba(100, 100, 225, 0.25) 394.167px, rgba(0, 0, 0, 0) 394.167px, rgba(0, 0, 0, 0) 404.167px, rgba(100, 100, 225, 0.25) 404.167px, rgba(100, 100, 225, 0.25) 434.583px, rgba(0, 0, 0, 0) 434.583px, rgba(0, 0, 0, 0) 444.583px, rgba(100, 100, 225, 0.25) 444.583px, rgba(100, 100, 225, 0.25) 475px, rgba(0, 0, 0, 0) 475px, rgba(0, 0, 0, 0) 485px, rgba(100, 100, 225, 0.25) 485px, rgba(100, 100, 225, 0.25) 515.417px, rgba(0, 0, 0, 0) 515.417px, rgba(0, 0, 0, 0) 525.417px, rgba(100, 100, 225, 0.25) 525.417px, rgba(100, 100, 225, 0.25) 555.833px, rgba(0, 0, 0, 0) 555.833px, rgba(0, 0, 0, 0) 565.833px, rgba(100, 100, 225, 0.25) 565.833px, rgba(100, 100, 225, 0.25) 596.25px, rgba(0, 0, 0, 0) 596.25px, rgba(0, 0, 0, 0) 606.25px, rgba(100, 100, 225, 0.25) 606.25px, rgba(100, 100, 225, 0.25) 636.667px, rgba(0, 0, 0, 0) 636.667px, rgba(0, 0, 0, 0) 646.667px, rgba(100, 100, 225, 0.25) 646.667px, rgba(100, 100, 225, 0.25) 677.083px, rgba(0, 0, 0, 0) 677.083px, rgba(0, 0, 0, 0) 687.083px, rgba(100, 100, 225, 0.25) 687.083px, rgba(100, 100, 225, 0.25) 717.5px, rgba(0, 0, 0, 0) 717.5px, rgba(0, 0, 0, 0) 727.5px, rgba(100, 100, 225, 0.25) 727.5px, rgba(100, 100, 225, 0.25) 757.917px, rgba(0, 0, 0, 0) 757.917px, rgba(0, 0, 0, 0) 767.917px, rgba(100, 100, 225, 0.25) 767.917px, rgba(100, 100, 225, 0.25) 798.333px, rgba(0, 0, 0, 0) 798.333px, rgba(0, 0, 0, 0) 808.333px, rgba(100, 100, 225, 0.25) 808.333px, rgba(100, 100, 225, 0.25) 838.75px, rgba(0, 0, 0, 0) 838.75px, rgba(0, 0, 0, 0) 848.75px, rgba(100, 100, 225, 0.25) 848.75px, rgba(100, 100, 225, 0.25) 879.167px, rgba(0, 0, 0, 0) 879.167px, rgba(0, 0, 0, 0) 889.167px, rgba(100, 100, 225, 0.25) 889.167px, rgba(100, 100, 225, 0.25) 919.583px, rgba(0, 0, 0, 0) 919.583px, rgba(0, 0, 0, 0) 929.583px, rgba(100, 100, 225, 0.25) 929.583px, rgba(100, 100, 225, 0.25) 960.0px, rgba(0, 0, 0, 0) 960.0px, rgba(0, 0, 0, 0) 970.0px);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30.417px, rgba(0, 0, 0, 0) 30.417px, rgba(0, 0, 0, 0) 40.417px, rgba(100, 100, 225, 0.25) 40.417px, rgba(100, 100, 225, 0.25) 70.833px, rgba(0, 0, 0, 0) 70.833px, rgba(0, 0, 0, 0) 80.833px, rgba(100, 100, 225, 0.25) 80.833px, rgba(100, 100, 225, 0.25) 111.25px, rgba(0, 0, 0, 0) 111.25px, rgba(0, 0, 0, 0) 121.25px, rgba(100, 100, 225, 0.25) 121.25px, rgba(100, 100, 225, 0.25) 151.667px, rgba(0, 0, 0, 0) 151.667px, rgba(0, 0, 0, 0) 161.667px, rgba(100, 100, 225, 0.25) 161.667px, rgba(100, 100, 225, 0.25) 192.083px, rgba(0, 0, 0, 0) 192.083px, rgba(0, 0, 0, 0) 202.083px, rgba(100, 100, 225, 0.25) 202.083px, rgba(100, 100, 225, 0.25) 232.5px, rgba(0, 0, 0, 0) 232.5px, rgba(0, 0, 0, 0) 242.5px, rgba(100, 100, 225, 0.25) 242.5px, rgba(100, 100, 225, 0.25) 272.917px, rgba(0, 0, 0, 0) 272.917px, rgba(0, 0, 0, 0) 282.917px, rgba(100, 100, 225, 0.25) 282.917px, rgba(100, 100, 225, 0.25) 313.333px, rgba(0, 0, 0, 0) 313.333px, rgba(0, 0, 0, 0) 323.333px, rgba(100, 100, 225, 0.25) 323.333px, rgba(100, 100, 225, 0.25) 353.75px, rgba(0, 0, 0, 0) 353.75px, rgba(0, 0, 0, 0) 363.75px, rgba(100, 100, 225, 0.25) 363.75px, rgba(100, 100, 225, 0.25) 394.167px, rgba(0, 0, 0, 0) 394.167px, rgba(0, 0, 0, 0) 404.167px, rgba(100, 100, 225, 0.25) 404.167px, rgba(100, 100, 225, 0.25) 434.583px, rgba(0, 0, 0, 0) 434.583px, rgba(0, 0, 0, 0) 444.583px, rgba(100, 100, 225, 0.25) 444.583px, rgba(100, 100, 225, 0.25) 475px, rgba(0, 0, 0, 0) 475px, rgba(0, 0, 0, 0) 485px, rgba(100, 100, 225, 0.25) 485px, rgba(100, 100, 225, 0.25) 515.417px, rgba(0, 0, 0, 0) 515.417px, rgba(0, 0, 0, 0) 525.417px, rgba(100, 100, 225, 0.25) 525.417px, rgba(100, 100, 225, 0.25) 555.833px, rgba(0, 0, 0, 0) 555.833px, rgba(0, 0, 0, 0) 565.833px, rgba(100, 100, 225, 0.25) 565.833px, rgba(100, 100, 225, 0.25) 596.25px, rgba(0, 0, 0, 0) 596.25px, rgba(0, 0, 0, 0) 606.25px, rgba(100, 100, 225, 0.25) 606.25px, rgba(100, 100, 225, 0.25) 636.667px, rgba(0, 0, 0, 0) 636.667px, rgba(0, 0, 0, 0) 646.667px, rgba(100, 100, 225, 0.25) 646.667px, rgba(100, 100, 225, 0.25) 677.083px, rgba(0, 0, 0, 0) 677.083px, rgba(0, 0, 0, 0) 687.083px, rgba(100, 100, 225, 0.25) 687.083px, rgba(100, 100, 225, 0.25) 717.5px, rgba(0, 0, 0, 0) 717.5px, rgba(0, 0, 0, 0) 727.5px, rgba(100, 100, 225, 0.25) 727.5px, rgba(100, 100, 225, 0.25) 757.917px, rgba(0, 0, 0, 0) 757.917px, rgba(0, 0, 0, 0) 767.917px, rgba(100, 100, 225, 0.25) 767.917px, rgba(100, 100, 225, 0.25) 798.333px, rgba(0, 0, 0, 0) 798.333px, rgba(0, 0, 0, 0) 808.333px, rgba(100, 100, 225, 0.25) 808.333px, rgba(100, 100, 225, 0.25) 838.75px, rgba(0, 0, 0, 0) 838.75px, rgba(0, 0, 0, 0) 848.75px, rgba(100, 100, 225, 0.25) 848.75px, rgba(100, 100, 225, 0.25) 879.167px, rgba(0, 0, 0, 0) 879.167px, rgba(0, 0, 0, 0) 889.167px, rgba(100, 100, 225, 0.25) 889.167px, rgba(100, 100, 225, 0.25) 919.583px, rgba(0, 0, 0, 0) 919.583px, rgba(0, 0, 0, 0) 929.583px, rgba(100, 100, 225, 0.25) 929.583px, rgba(100, 100, 225, 0.25) 960.0px, rgba(0, 0, 0, 0) 960.0px, rgba(0, 0, 0, 0) 970.0px);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30.417px, rgba(0, 0, 0, 0) 30.417px, rgba(0, 0, 0, 0) 40.417px, rgba(100, 100, 225, 0.25) 40.417px, rgba(100, 100, 225, 0.25) 70.833px, rgba(0, 0, 0, 0) 70.833px, rgba(0, 0, 0, 0) 80.833px, rgba(100, 100, 225, 0.25) 80.833px, rgba(100, 100, 225, 0.25) 111.25px, rgba(0, 0, 0, 0) 111.25px, rgba(0, 0, 0, 0) 121.25px, rgba(100, 100, 225, 0.25) 121.25px, rgba(100, 100, 225, 0.25) 151.667px, rgba(0, 0, 0, 0) 151.667px, rgba(0, 0, 0, 0) 161.667px, rgba(100, 100, 225, 0.25) 161.667px, rgba(100, 100, 225, 0.25) 192.083px, rgba(0, 0, 0, 0) 192.083px, rgba(0, 0, 0, 0) 202.083px, rgba(100, 100, 225, 0.25) 202.083px, rgba(100, 100, 225, 0.25) 232.5px, rgba(0, 0, 0, 0) 232.5px, rgba(0, 0, 0, 0) 242.5px, rgba(100, 100, 225, 0.25) 242.5px, rgba(100, 100, 225, 0.25) 272.917px, rgba(0, 0, 0, 0) 272.917px, rgba(0, 0, 0, 0) 282.917px, rgba(100, 100, 225, 0.25) 282.917px, rgba(100, 100, 225, 0.25) 313.333px, rgba(0, 0, 0, 0) 313.333px, rgba(0, 0, 0, 0) 323.333px, rgba(100, 100, 225, 0.25) 323.333px, rgba(100, 100, 225, 0.25) 353.75px, rgba(0, 0, 0, 0) 353.75px, rgba(0, 0, 0, 0) 363.75px, rgba(100, 100, 225, 0.25) 363.75px, rgba(100, 100, 225, 0.25) 394.167px, rgba(0, 0, 0, 0) 394.167px, rgba(0, 0, 0, 0) 404.167px, rgba(100, 100, 225, 0.25) 404.167px, rgba(100, 100, 225, 0.25) 434.583px, rgba(0, 0, 0, 0) 434.583px, rgba(0, 0, 0, 0) 444.583px, rgba(100, 100, 225, 0.25) 444.583px, rgba(100, 100, 225, 0.25) 475px, rgba(0, 0, 0, 0) 475px, rgba(0, 0, 0, 0) 485px, rgba(100, 100, 225, 0.25) 485px, rgba(100, 100, 225, 0.25) 515.417px, rgba(0, 0, 0, 0) 515.417px, rgba(0, 0, 0, 0) 525.417px, rgba(100, 100, 225, 0.25) 525.417px, rgba(100, 100, 225, 0.25) 555.833px, rgba(0, 0, 0, 0) 555.833px, rgba(0, 0, 0, 0) 565.833px, rgba(100, 100, 225, 0.25) 565.833px, rgba(100, 100, 225, 0.25) 596.25px, rgba(0, 0, 0, 0) 596.25px, rgba(0, 0, 0, 0) 606.25px, rgba(100, 100, 225, 0.25) 606.25px, rgba(100, 100, 225, 0.25) 636.667px, rgba(0, 0, 0, 0) 636.667px, rgba(0, 0, 0, 0) 646.667px, rgba(100, 100, 225, 0.25) 646.667px, rgba(100, 100, 225, 0.25) 677.083px, rgba(0, 0, 0, 0) 677.083px, rgba(0, 0, 0, 0) 687.083px, rgba(100, 100, 225, 0.25) 687.083px, rgba(100, 100, 225, 0.25) 717.5px, rgba(0, 0, 0, 0) 717.5px, rgba(0, 0, 0, 0) 727.5px, rgba(100, 100, 225, 0.25) 727.5px, rgba(100, 100, 225, 0.25) 757.917px, rgba(0, 0, 0, 0) 757.917px, rgba(0, 0, 0, 0) 767.917px, rgba(100, 100, 225, 0.25) 767.917px, rgba(100, 100, 225, 0.25) 798.333px, rgba(0, 0, 0, 0) 798.333px, rgba(0, 0, 0, 0) 808.333px, rgba(100, 100, 225, 0.25) 808.333px, rgba(100, 100, 225, 0.25) 838.75px, rgba(0, 0, 0, 0) 838.75px, rgba(0, 0, 0, 0) 848.75px, rgba(100, 100, 225, 0.25) 848.75px, rgba(100, 100, 225, 0.25) 879.167px, rgba(0, 0, 0, 0) 879.167px, rgba(0, 0, 0, 0) 889.167px, rgba(100, 100, 225, 0.25) 889.167px, rgba(100, 100, 225, 0.25) 919.583px, rgba(0, 0, 0, 0) 919.583px, rgba(0, 0, 0, 0) 929.583px, rgba(100, 100, 225, 0.25) 929.583px, rgba(100, 100, 225, 0.25) 960.0px, rgba(0, 0, 0, 0) 960.0px, rgba(0, 0, 0, 0) 970.0px);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30.417px, rgba(0, 0, 0, 0) 30.417px, rgba(0, 0, 0, 0) 40.417px, rgba(100, 100, 225, 0.25) 40.417px, rgba(100, 100, 225, 0.25) 70.833px, rgba(0, 0, 0, 0) 70.833px, rgba(0, 0, 0, 0) 80.833px, rgba(100, 100, 225, 0.25) 80.833px, rgba(100, 100, 225, 0.25) 111.25px, rgba(0, 0, 0, 0) 111.25px, rgba(0, 0, 0, 0) 121.25px, rgba(100, 100, 225, 0.25) 121.25px, rgba(100, 100, 225, 0.25) 151.667px, rgba(0, 0, 0, 0) 151.667px, rgba(0, 0, 0, 0) 161.667px, rgba(100, 100, 225, 0.25) 161.667px, rgba(100, 100, 225, 0.25) 192.083px, rgba(0, 0, 0, 0) 192.083px, rgba(0, 0, 0, 0) 202.083px, rgba(100, 100, 225, 0.25) 202.083px, rgba(100, 100, 225, 0.25) 232.5px, rgba(0, 0, 0, 0) 232.5px, rgba(0, 0, 0, 0) 242.5px, rgba(100, 100, 225, 0.25) 242.5px, rgba(100, 100, 225, 0.25) 272.917px, rgba(0, 0, 0, 0) 272.917px, rgba(0, 0, 0, 0) 282.917px, rgba(100, 100, 225, 0.25) 282.917px, rgba(100, 100, 225, 0.25) 313.333px, rgba(0, 0, 0, 0) 313.333px, rgba(0, 0, 0, 0) 323.333px, rgba(100, 100, 225, 0.25) 323.333px, rgba(100, 100, 225, 0.25) 353.75px, rgba(0, 0, 0, 0) 353.75px, rgba(0, 0, 0, 0) 363.75px, rgba(100, 100, 225, 0.25) 363.75px, rgba(100, 100, 225, 0.25) 394.167px, rgba(0, 0, 0, 0) 394.167px, rgba(0, 0, 0, 0) 404.167px, rgba(100, 100, 225, 0.25) 404.167px, rgba(100, 100, 225, 0.25) 434.583px, rgba(0, 0, 0, 0) 434.583px, rgba(0, 0, 0, 0) 444.583px, rgba(100, 100, 225, 0.25) 444.583px, rgba(100, 100, 225, 0.25) 475px, rgba(0, 0, 0, 0) 475px, rgba(0, 0, 0, 0) 485px, rgba(100, 100, 225, 0.25) 485px, rgba(100, 100, 225, 0.25) 515.417px, rgba(0, 0, 0, 0) 515.417px, rgba(0, 0, 0, 0) 525.417px, rgba(100, 100, 225, 0.25) 525.417px, rgba(100, 100, 225, 0.25) 555.833px, rgba(0, 0, 0, 0) 555.833px, rgba(0, 0, 0, 0) 565.833px, rgba(100, 100, 225, 0.25) 565.833px, rgba(100, 100, 225, 0.25) 596.25px, rgba(0, 0, 0, 0) 596.25px, rgba(0, 0, 0, 0) 606.25px, rgba(100, 100, 225, 0.25) 606.25px, rgba(100, 100, 225, 0.25) 636.667px, rgba(0, 0, 0, 0) 636.667px, rgba(0, 0, 0, 0) 646.667px, rgba(100, 100, 225, 0.25) 646.667px, rgba(100, 100, 225, 0.25) 677.083px, rgba(0, 0, 0, 0) 677.083px, rgba(0, 0, 0, 0) 687.083px, rgba(100, 100, 225, 0.25) 687.083px, rgba(100, 100, 225, 0.25) 717.5px, rgba(0, 0, 0, 0) 717.5px, rgba(0, 0, 0, 0) 727.5px, rgba(100, 100, 225, 0.25) 727.5px, rgba(100, 100, 225, 0.25) 757.917px, rgba(0, 0, 0, 0) 757.917px, rgba(0, 0, 0, 0) 767.917px, rgba(100, 100, 225, 0.25) 767.917px, rgba(100, 100, 225, 0.25) 798.333px, rgba(0, 0, 0, 0) 798.333px, rgba(0, 0, 0, 0) 808.333px, rgba(100, 100, 225, 0.25) 808.333px, rgba(100, 100, 225, 0.25) 838.75px, rgba(0, 0, 0, 0) 838.75px, rgba(0, 0, 0, 0) 848.75px, rgba(100, 100, 225, 0.25) 848.75px, rgba(100, 100, 225, 0.25) 879.167px, rgba(0, 0, 0, 0) 879.167px, rgba(0, 0, 0, 0) 889.167px, rgba(100, 100, 225, 0.25) 889.167px, rgba(100, 100, 225, 0.25) 919.583px, rgba(0, 0, 0, 0) 919.583px, rgba(0, 0, 0, 0) 929.583px, rgba(100, 100, 225, 0.25) 929.583px, rgba(100, 100, 225, 0.25) 960.0px, rgba(0, 0, 0, 0) 960.0px, rgba(0, 0, 0, 0) 970.0px);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30.417px, rgba(0, 0, 0, 0) 30.417px, rgba(0, 0, 0, 0) 40.417px, rgba(100, 100, 225, 0.25) 40.417px, rgba(100, 100, 225, 0.25) 70.833px, rgba(0, 0, 0, 0) 70.833px, rgba(0, 0, 0, 0) 80.833px, rgba(100, 100, 225, 0.25) 80.833px, rgba(100, 100, 225, 0.25) 111.25px, rgba(0, 0, 0, 0) 111.25px, rgba(0, 0, 0, 0) 121.25px, rgba(100, 100, 225, 0.25) 121.25px, rgba(100, 100, 225, 0.25) 151.667px, rgba(0, 0, 0, 0) 151.667px, rgba(0, 0, 0, 0) 161.667px, rgba(100, 100, 225, 0.25) 161.667px, rgba(100, 100, 225, 0.25) 192.083px, rgba(0, 0, 0, 0) 192.083px, rgba(0, 0, 0, 0) 202.083px, rgba(100, 100, 225, 0.25) 202.083px, rgba(100, 100, 225, 0.25) 232.5px, rgba(0, 0, 0, 0) 232.5px, rgba(0, 0, 0, 0) 242.5px, rgba(100, 100, 225, 0.25) 242.5px, rgba(100, 100, 225, 0.25) 272.917px, rgba(0, 0, 0, 0) 272.917px, rgba(0, 0, 0, 0) 282.917px, rgba(100, 100, 225, 0.25) 282.917px, rgba(100, 100, 225, 0.25) 313.333px, rgba(0, 0, 0, 0) 313.333px, rgba(0, 0, 0, 0) 323.333px, rgba(100, 100, 225, 0.25) 323.333px, rgba(100, 100, 225, 0.25) 353.75px, rgba(0, 0, 0, 0) 353.75px, rgba(0, 0, 0, 0) 363.75px, rgba(100, 100, 225, 0.25) 363.75px, rgba(100, 100, 225, 0.25) 394.167px, rgba(0, 0, 0, 0) 394.167px, rgba(0, 0, 0, 0) 404.167px, rgba(100, 100, 225, 0.25) 404.167px, rgba(100, 100, 225, 0.25) 434.583px, rgba(0, 0, 0, 0) 434.583px, rgba(0, 0, 0, 0) 444.583px, rgba(100, 100, 225, 0.25) 444.583px, rgba(100, 100, 225, 0.25) 475px, rgba(0, 0, 0, 0) 475px, rgba(0, 0, 0, 0) 485px, rgba(100, 100, 225, 0.25) 485px, rgba(100, 100, 225, 0.25) 515.417px, rgba(0, 0, 0, 0) 515.417px, rgba(0, 0, 0, 0) 525.417px, rgba(100, 100, 225, 0.25) 525.417px, rgba(100, 100, 225, 0.25) 555.833px, rgba(0, 0, 0, 0) 555.833px, rgba(0, 0, 0, 0) 565.833px, rgba(100, 100, 225, 0.25) 565.833px, rgba(100, 100, 225, 0.25) 596.25px, rgba(0, 0, 0, 0) 596.25px, rgba(0, 0, 0, 0) 606.25px, rgba(100, 100, 225, 0.25) 606.25px, rgba(100, 100, 225, 0.25) 636.667px, rgba(0, 0, 0, 0) 636.667px, rgba(0, 0, 0, 0) 646.667px, rgba(100, 100, 225, 0.25) 646.667px, rgba(100, 100, 225, 0.25) 677.083px, rgba(0, 0, 0, 0) 677.083px, rgba(0, 0, 0, 0) 687.083px, rgba(100, 100, 225, 0.25) 687.083px, rgba(100, 100, 225, 0.25) 717.5px, rgba(0, 0, 0, 0) 717.5px, rgba(0, 0, 0, 0) 727.5px, rgba(100, 100, 225, 0.25) 727.5px, rgba(100, 100, 225, 0.25) 757.917px, rgba(0, 0, 0, 0) 757.917px, rgba(0, 0, 0, 0) 767.917px, rgba(100, 100, 225, 0.25) 767.917px, rgba(100, 100, 225, 0.25) 798.333px, rgba(0, 0, 0, 0) 798.333px, rgba(0, 0, 0, 0) 808.333px, rgba(100, 100, 225, 0.25) 808.333px, rgba(100, 100, 225, 0.25) 838.75px, rgba(0, 0, 0, 0) 838.75px, rgba(0, 0, 0, 0) 848.75px, rgba(100, 100, 225, 0.25) 848.75px, rgba(100, 100, 225, 0.25) 879.167px, rgba(0, 0, 0, 0) 879.167px, rgba(0, 0, 0, 0) 889.167px, rgba(100, 100, 225, 0.25) 889.167px, rgba(100, 100, 225, 0.25) 919.583px, rgba(0, 0, 0, 0) 919.583px, rgba(0, 0, 0, 0) 929.583px, rgba(100, 100, 225, 0.25) 929.583px, rgba(100, 100, 225, 0.25) 960.0px, rgba(0, 0, 0, 0) 960.0px, rgba(0, 0, 0, 0) 970.0px);
  -moz-background-size: 100% 18px, auto;
  -webkit-background-size: 100% 18px, auto;
  -o-background-size: 100% 18px, auto;
  background-size: 100% 18px, auto;
  background-position: left top;
}
body.bp .feedback, body.bp .error, body.bp .alert, body.bp .notice, body.bp .success, body.bp .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}
body.bp .error, body.bp .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
body.bp .error a, body.bp .alert a {
  color: #8a1f11;
}
body.bp .notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
body.bp .notice a {
  color: #514721;
}
body.bp .success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
body.bp .success a {
  color: #264409;
}
body.bp .info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
body.bp .info a {
  color: #205791;
}
body.bp .hide {
  display: none;
}
body.bp .highlight {
  background: yellow;
}
body.bp .added {
  background: #006600;
  color: white;
}
body.bp .removed {
  background: #990000;
  color: white;
}

form.bp label {
  font-weight: bold;
}
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
form.bp input.title {
  font-size: 1.5em;
}
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
form.bp select {
  margin: 0.5em 0;
}
form.bp fieldset {
  border: 1px solid #cccccc;
}
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus {
  border-color: #666666;
}
form.bp select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
form.bp textarea {
  width: 390px;
  height: 250px;
}
form.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
form.bp .border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #dddddd;
}
form.bp .colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #dddddd;
}
form.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
form.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
form.bp form.inline {
  line-height: 3;
}
form.bp form.inline p {
  margin-bottom: 0;
}
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: black;
  background: none;
  font-size: 10pt;
}
body.bp .container {
  background: none;
}
body.bp hr {
  background: #cccccc;
  color: #cccccc;
  width: 100%;
  height: 2px;
  margin: 2em 0;
  padding: 0;
  border: none;
}
body.bp hr.space {
  background: white;
  color: white;
}
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
body.bp code {
  font-size: 0.9em;
  font-family: "andale mono", "lucida console", monospace;
}
body.bp a img {
  border: none;
}
body.bp a:link, body.bp a:visited {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
}
body.bp p img.top {
  margin-top: 0;
}
body.bp blockquote {
  margin: 1.5em;
  padding: 1em;
  font-style: italic;
  font-size: 0.9em;
}
body.bp .small {
  font-size: 0.9em;
}
body.bp .large {
  font-size: 1.1em;
}
body.bp .quiet {
  color: #999999;
}
body.bp .hide {
  display: none;
}
body {
  margin: 20px 0;
  background-image: url("/images/graphy.png") !important;
  font-size: 14px !important;
  line-height: 21px;
}
body #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
body header, body #ooter {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
* html body header, * html body #ooter {
  overflow-x: hidden;
}
body #main {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
* html body #main {
  overflow-x: hidden;
}

header .logo {
  font-family: "Slackey", cursive;
  font-size: 5.4em;
  margin: 5px 20px;
  text-shadow: #cccccc 5px 5px 0, #cccccc -5px -5px 0;
}
header .logo a {
  color: black !important;
  text-decoration: none !important;
}
header .logo:hover {
  text-shadow: #aaaaaa 5px 5px 0, #aaaaaa -5px -5px 0;
}

#main {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  -khtml-border-radius: 25px;
  border-radius: 25px;
  background-color: white;
  padding: 30px 0;
  border: 1px solid #aaaaab;
  width: 948px !important;
}
#main #wrapper {
  padding-right: 40px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 870px;
  padding-left: 40px;
}
* html #main #wrapper {
  overflow-x: hidden;
}

.highlight {
  background: #eeeeee url("/images/pygments/tab_grey.gif") no-repeat !important;
  padding: 0px 15px;
  margin: 0px 5px 1.5em;
  min-height: 40px;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
  line-height: 1.2em;
  font-size: 1.1em;
}
.highlight pre {
  margin: 0 5px 5px !important;
  padding-top: 10px;
}

.highlight.ruby {
  background: #eeeeee url("/images/pygments/tab_grey_ruby.png") no-repeat !important;
}
.hll {
  background-color: #ffffcc;
}

.c {
  color: #408080;
  font-style: italic;
}

/* Comment */
.err {
  border: 1px solid #FF0000;
}

/* Error */
.k {
  color: #008000;
  font-weight: bold;
}

/* Keyword */
.o {
  color: #666666;
}

/* Operator */
.cm {
  color: #408080;
  font-style: italic;
}

/* Comment.Multiline */
.cp {
  color: #BC7A00;
}

/* Comment.Preproc */
.c1 {
  color: #408080;
  font-style: italic;
}

/* Comment.Single */
.cs {
  color: #408080;
  font-style: italic;
}

/* Comment.Special */
.gd {
  color: #A00000;
}

/* Generic.Deleted */
.ge {
  font-style: italic;
}

/* Generic.Emph */
.gr {
  color: #FF0000;
}

/* Generic.Error */
.gh {
  color: #000080;
  font-weight: bold;
}

/* Generic.Heading */
.gi {
  color: #00A000;
}

/* Generic.Inserted */
.go {
  color: #808080;
}

/* Generic.Output */
.gp {
  color: #000080;
  font-weight: bold;
}

/* Generic.Prompt */
.gs {
  font-weight: bold;
}

/* Generic.Strong */
.gu {
  color: #800080;
  font-weight: bold;
}

/* Generic.Subheading */
.gt {
  color: #0040D0;
}

/* Generic.Traceback */
.kc {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Constant */
.kd {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Declaration */
.kn {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Namespace */
.kp {
  color: #008000;
}

/* Keyword.Pseudo */
.kr {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Reserved */
.kt {
  color: #B00040;
}

/* Keyword.Type */
.m {
  color: #666666;
}

/* Literal.Number */
.s {
  color: #BA2121;
}

/* Literal.String */
.na {
  color: #7D9029;
}

/* Name.Attribute */
.nb {
  color: #008000;
}

/* Name.Builtin */
.nc {
  color: #0000FF;
  font-weight: bold;
}

/* Name.Class */
.no {
  color: #880000;
}

/* Name.Constant */
.nd {
  color: #AA22FF;
}

/* Name.Decorator */
.ni {
  color: #999999;
  font-weight: bold;
}

/* Name.Entity */
.ne {
  color: #D2413A;
  font-weight: bold;
}

/* Name.Exception */
.nf {
  color: #0000FF;
}

/* Name.Function */
.nl {
  color: #A0A000;
}

/* Name.Label */
.nn {
  color: #0000FF;
  font-weight: bold;
}

/* Name.Namespace */
.nt {
  color: #008000;
  font-weight: bold;
}

/* Name.Tag */
.nv {
  color: #19177C;
}

/* Name.Variable */
.ow {
  color: #AA22FF;
  font-weight: bold;
}

/* Operator.Word */
.w {
  color: #bbbbbb;
}

/* Text.Whitespace */
.mf {
  color: #666666;
}

/* Literal.Number.Float */
.mh {
  color: #666666;
}

/* Literal.Number.Hex */
.mi {
  color: #666666;
}

/* Literal.Number.Integer */
.mo {
  color: #666666;
}

/* Literal.Number.Oct */
.sb {
  color: #BA2121;
}

/* Literal.String.Backtick */
.sc {
  color: #BA2121;
}

/* Literal.String.Char */
.sd {
  color: #BA2121;
  font-style: italic;
}

/* Literal.String.Doc */
.s2 {
  color: #BA2121;
}

/* Literal.String.Double */
.se {
  color: #BB6622;
  font-weight: bold;
}

/* Literal.String.Escape */
.sh {
  color: #BA2121;
}

/* Literal.String.Heredoc */
.si {
  color: #BB6688;
  font-weight: bold;
}

/* Literal.String.Interpol */
.sx {
  color: #008000;
}

/* Literal.String.Other */
.sr {
  color: #BB6688;
}

/* Literal.String.Regex */
.s1 {
  color: #BA2121;
}

/* Literal.String.Single */
.ss {
  color: #19177C;
}

/* Literal.String.Symbol */
.bp {
  color: #008000;
}

/* Name.Builtin.Pseudo */
.vc {
  color: #19177C;
}

/* Name.Variable.Class */
.vg {
  color: #19177C;
}

/* Name.Variable.Global */
.vi {
  color: #19177C;
}

/* Name.Variable.Instance */
.il {
  color: #666666;
}

/* Literal.Number.Integer.Long */
/* 




 */

