/* line 1, ../_assets/sass/header.sass */
header {
  height: 190px;
  position: absolute;
  width: 100%;
  top: 0;
}
/* line 7, ../_assets/sass/header.sass */
header .navbar .brand {
  font-family: "Slackey", cursive;
  font-size: 20px;
}
/* line 11, ../_assets/sass/header.sass */
header .navbar .nav-link ul.nav li {
  border-top: 2px solid #323232;
}
/* line 13, ../_assets/sass/header.sass */
header .navbar .nav-link ul.nav li:hover, header .navbar .nav-link ul.nav li.banner {
  border-color: #e82517 !important;
}
/* line 15, ../_assets/sass/header.sass */
header .navbar .nav-link ul.nav li.active {
  border-color: #222222;
}
/* line 17, ../_assets/sass/header.sass */
header .navbar .btn-navbar {
  float: left;
}

/* line 19, ../_assets/sass/header.sass */
.navbar-fixed-top .navbar-inner {
  padding: 0 !important;
}

/* line 2, ../_assets/sass/sidebar.sass */
.sidebar-left #footer-wrapper {
  float: right;
}
/* line 4, ../_assets/sass/sidebar.sass */
.sidebar-left #sidebar-wrapper {
  margin-top: 20px;
}
/* line 6, ../_assets/sass/sidebar.sass */
.sidebar-left #sidebar-wrapper .sidebar {
  border-right: 0;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
/* line 10, ../_assets/sass/sidebar.sass */
.sidebar-left #content-wrapper {
  float: right;
}
/* line 12, ../_assets/sass/sidebar.sass */
.sidebar-left #content-wrapper .content {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) -1px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) -1px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) -1px 1px 2px;
}

/* line 16, ../_assets/sass/sidebar.sass */
.sidebar-right #sidebar-wrapper {
  margin: 20px 0 0 !important;
}
/* line 18, ../_assets/sass/sidebar.sass */
.sidebar-right #sidebar-wrapper .sidebar {
  border-left: 0;
  -moz-border-radius-topright: 15px;
  -webkit-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* line 24, ../_assets/sass/sidebar.sass */
.sidebar-none #sidebar-wrapper {
  display: none !important;
}
/* line 26, ../_assets/sass/sidebar.sass */
.sidebar-none #content-wrapper {
  width: 100.0%;
}
/* line 28, ../_assets/sass/sidebar.sass */
.sidebar-none #footer-wrapper {
  width: 100.0%;
}

/* line 31, ../_assets/sass/sidebar.sass */
#sidebar-wrapper {
  position: relative;
  display: none;
}
/* line 34, ../_assets/sass/sidebar.sass */
#sidebar-wrapper .sidebar {
  background-color: #eeeeee;
  padding: 10px;
  border: 5px solid #dddddd;
}

/* line 39, ../_assets/sass/sidebar.sass */
.navbar.relative {
  position: relative;
}
/* line 41, ../_assets/sass/sidebar.sass */
.navbar.relative ul {
  margin-top: 3px;
}

/* line 47, ../_assets/sass/sidebar.sass */
#page-view [class^="icon-"] {
  background-image: url(/images/icon/panel.png);
}
/* line 49, ../_assets/sass/sidebar.sass */
#page-view .icon-white {
  background-position-y: -14px !important;
}
/* line 51, ../_assets/sass/sidebar.sass */
#page-view .icon-left-panel {
  background-position: 0 0;
}
/* line 53, ../_assets/sass/sidebar.sass */
#page-view .icon-right-panel {
  background-position: -14px 0;
}
/* line 55, ../_assets/sass/sidebar.sass */
#page-view .icon-no-panel {
  background-position: -28px 0;
}

/* line 57, ../_assets/sass/sidebar.sass */
#social-icon {
  float: right;
}
/* line 59, ../_assets/sass/sidebar.sass */
#social-icon a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}
/* line 61, ../_assets/sass/sidebar.sass */
#social-icon a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 64, ../_assets/sass/sidebar.sass */
#page-view {
  float: right;
}

/* line 67, ../_assets/sass/sidebar.sass */
.popover {
  z-index: 20000;
}

/* line 70, ../_assets/sass/sidebar.sass */
p {
  font-size: 14px;
  line-height: 21px;
}

/* line 3, ../_assets/sass/banner.sass */
#banner {
  height: 150px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 30px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 30px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 30px inset;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0069d6), color-stop(100%, #006fe3));
  background-image: -webkit-linear-gradient(#0069d6, #006fe3);
  background-image: -moz-linear-gradient(#0069d6, #006fe3);
  background-image: -o-linear-gradient(#0069d6, #006fe3);
  background-image: linear-gradient(#0069d6, #006fe3);
}
/* line 7, ../_assets/sass/banner.sass */
#banner .wrapper {
  background: url("/images/grid-18px.png") repeat scroll center top transparent;
  height: 150px;
}
/* line 10, ../_assets/sass/banner.sass */
#banner .excerpt {
  color: white;
}
/* line 12, ../_assets/sass/banner.sass */
#banner .excerpt .item {
  padding: 20px;
}
/* line 14, ../_assets/sass/banner.sass */
#banner .excerpt .text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px;
}
/* line 15, ../_assets/sass/banner.sass */
#banner .excerpt .text .title {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.5em;
  letter-spacing: -1px;
}
/* line 22, ../_assets/sass/banner.sass */
#banner .excerpt img {
  float: left;
}
/* line 24, ../_assets/sass/banner.sass */
#banner .text p {
  overflow: hidden;
  line-height: 20px;
  font-size: 15px;
}
/* line 29, ../_assets/sass/banner.sass */
#banner .item .image {
  width: 120px;
  height: 120px;
  float: left;
  background: transparent url("/images/icon/banner.png") no-repeat;
}
/* line 34, ../_assets/sass/banner.sass */
#banner .item .image.android {
  background-position: -120px 0;
}
/* line 36, ../_assets/sass/banner.sass */
#banner .item .image.ruby {
  background-position: -240px 0;
}
/* line 38, ../_assets/sass/banner.sass */
#banner .item .image.web {
  background-position: -360px 0;
}

/* line 3, ../_assets/sass/content.sass */
body {
  background-image: url("/images/graphy.png") !important;
}

/* line 5, ../_assets/sass/content.sass */
#container {
  min-width: 480px;
}

/* line 8, ../_assets/sass/content.sass */
#main {
  margin-top: 190px;
}

/* line 11, ../_assets/sass/content.sass */
#container > .container-fluid .row-fluid .content {
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid #eeeeee;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
}

/* line 18, ../_assets/sass/content.sass */
.content h1 {
  margin-bottom: 10px;
}
/* line 20, ../_assets/sass/content.sass */
.content .posted_at {
  margin-bottom: 10px;
}
/* line 22, ../_assets/sass/content.sass */
.content .articles h1 {
  font-size: 22px;
}
/* line 24, ../_assets/sass/content.sass */
.content li {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 27, ../_assets/sass/content.sass */
p {
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 15px;
}

/* line 1, ../_assets/sass/highlight.sass */
.code-listing {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !important;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 30px 0;
  min-height: 40px;
}
/* line 7, ../_assets/sass/highlight.sass */
.code-listing table {
  width: 100%;
}
/* line 9, ../_assets/sass/highlight.sass */
.code-listing .lines {
  width: 1%;
  vertical-align: top;
  padding: 9px;
  padding-left: 45px;
  background: #eeeeee url("/images/pygments/tab_grey_bash.png") no-repeat;
}
/* line 15, ../_assets/sass/highlight.sass */
.code-listing .lines.language-ruby {
  background: #eeeeee url("/images/pygments/tab_grey_ruby.png") no-repeat !important;
}
/* line 17, ../_assets/sass/highlight.sass */
.code-listing pre {
  margin: 0;
  border: none;
  color: #f8f8f8;
  background-color: #141414;
  padding: 8.5px 10px;
}

/* line 25, ../_assets/sass/highlight.sass */
.line-number {
  display: block;
  color: #888888;
}

/* line 30, ../_assets/sass/highlight.sass */
.highlight {
  white-space: nowrap;
  border: 1px solid #dfdfdf;
  border-top: 1px solid #eeeeee;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
}

/* line 2, ../_assets/sass/footer.sass */
footer p {
  text-align: center;
  margin: 5px 0;
}
/* line 5, ../_assets/sass/footer.sass */
footer .footer {
  position: relative;
  background-color: #eeeeee;
  padding: 5px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  margin-bottom: 15px;
}
