div.chroma {
	overflow-x: auto;
	overflow-y: hidden;
	margin: 20px 0; 
}

.highlight table {
	width: 100%
}

.highlight pre {
  display: block;
  padding: 0;
  margin: 0 ;
  background-color: none;
  border: none;
  white-space: pre;
  word-break: break-all;
}

.highlight code {
  font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace !important;
  font-size: 11pt;
}

/* 1nd column line number */
.highlight td:first-child {
	width: 1%;
	padding: 0;
}

.highlight td:first-child code {
	display: block;
	color: #888;
	padding: 12.5px 8.5px;
	padding-left: 45px;
	background: #eee url('/images/pygments/tab_grey_bash.png') no-repeat;
}

.highlight td:first-child code.language-ruby {
	background: #eee url('/images/pygments/tab_grey_ruby.png') no-repeat !important
}

.highlight td:first-child code.language-go {
	background: #eee url('/images/pygments/tab_grey_go.png') no-repeat !important
}

/* 2nd column code */
.highlight td:nth-child(2) code {
  display: block;
  padding: 12px;
  background-color: #141414;
  border-radius: 3px;
  color: #f8f8f8;
  -webkit-border-radius: 3px;
  /*! border-top: 1px solid #eeeeee; */
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
  /*! -moz-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px; */
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
}

