<header>
  <div id="banner">
    <div id="carousel-banner" class="wrapper carousel">
      <div class="carousel-inner excerpt">
      </div>
    </div> 
  </div>
  
  <div class="navbar navbar-fixed-top relative">  
    <div class="navbar-inner">    
      <div class="fill">
        <div class="container">
          <a href="{{ .Site.BaseURL }}"><span class="brand">Labs.Yulrizka.com</span></a>
          <div id="social-icon" class="pull-right">
            <a href="https://twitter.com/#!/yulrizka" target="twitter" rel="popover" data-content="Follow me on twitter" data-original-title="@yulrizka" data-placement="left"><img src="/images/icon/twitter.png" alt="twitter"></a>  
            <a href="https://github.com/yulrizka" target="github" rel="popover" data-content="Github is source code repository that encourage social coding. Fork my projects from github." data-original-title="Fork me on Github" data-placement="left"><img src="/images/icon/github.png" alt="github"></a>  
            <a href="http://feeds.feedburner.com/yulrizka/labs" target="feed" rel="popover" data-content="Suscribe this blog feed on feed burner" data-original-title="RSS feed" data-placement="left"><img src="/images/icon/feed.png" alt="feed"></a>  
          </div>
          <a class="btn btn-navbar" href="#" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div id="page-view">
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" rel="popover" data-content="Arrange the sidebar position Left / Right / None" 
                data-original-title="Sidebar position" data-placement="left">
                  <i id="icon-panel" class="icon-right-panel icon-white"></i><b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#" id="sidebar-left-link"><i class="icon-left-panel"></i> Left Panel</a></li>
                  <li><a href="#" id="sidebar-none-link"><i class="icon-no-panel"></i> No Panel</a></li>
                  <li><a href="#" id="sidebar-right-link"><i class="icon-right-panel"></i> Right Panel</a></li>
                </ul>
              </li>
            </ul>
          </div>            
          <div class="nav-link nav-collapse">
            <ul class="nav">
              <li class="active banner"><a href="/">Home</a></li>
              <li class=""><a href="/en/">EN</a></li>
              <li class=""><a href="/id/">ID</a></li>
              <li class=""><a href="/til/">Today I learned</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
