.code-listing
  font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace !important
  overflow-x: auto
  overflow-y: hidden
  margin: 30px 0
  min-height: 40px
  table
    width: 100%
  .lines
    width: 1%
    vertical-align: top
    padding: 9px
    padding-left: 45px
    background: #eee url('/images/pygments/tab_grey_bash.png') no-repeat
  .lines.language-ruby 
    background: #eee url('/images/pygments/tab_grey_ruby.png') no-repeat !important  
  pre
    margin: 0
    border: none
    color: $code-foreground-color
    background-color: $code-background-color
    padding: 8.5px 10px
  

.line-number
  display: block
  color: #888


.highlight
  white-space: nowrap
  border: 1px solid #dfdfdf
  border-top: 1px solid #eeeeee
  @include box-shadow(rgba(0,0,0,.3) 1px 1px 2px)