@import "partials/_base"
@import "compass/css3"

// Page layout can be done using mixins applied to your semantic classes and IDs:
body 
  background-image: url('/images/graphy.png') !important
#container
  min-width: 480px
  
header
  height: 190px
  .navbar 
    .brand
      font-family: 'Slackey', cursive
      font-size: 20px
    .nav-link ul.nav
      li
        border-top: 2px solid #323232
      li:hover, li.banner
        border-color: #E82517 !important
      li.active
        border-color: #222
    .btn-navbar
      float: left
.navbar-fixed-top .navbar-inner
  padding: 0 !important

#container > .container-fluid .row-fluid .content
  padding: 20px
  background-color: #fff
  border-bottom: 1px solid #eee
  @include box-shadow(rgba(0,0,0,.3) 0px 1px 2px)

#container #content-wrapper.sidebar-left
  float: right
  .content
    @include box-shadow(rgba(0,0,0,.3) -1px 1px 2px)

#footer-wrapper.sidebar-left
  float: right
  
#sidebar-wrapper
  position: relative
  z-index: -100
  display: none
  .sidebar
    background-color: #eee
    padding: 10px
    border: 5px solid #ddd

#sidebar-wrapper.sidebar-right
  margin: 20px 0 0 !important
  .sidebar
    border-left: 0
    @include border-top-right-radius(15px)
    @include border-bottom-right-radius(15px)

#sidebar-wrapper.sidebar-left
  margin: 20px 0 0 32px !important
  .sidebar
    border-right: 0
    @include border-top-left-radius(15px)
    @include border-bottom-left-radius(15px)
      
.navbar.relative
  position: relative
  ul
    margin-top: 3px

#banner
  height: 150px
  @include box-shadow(rgba(0,0,0,.3) 0px 10px 30px inset)
  @include background-image(linear-gradient(#0069D6, #006FE3))
  .wrapper
    background: url("/images/grid-18px.png") repeat scroll center top transparent
    height: 150px    
  ul
    list-style: none outside none
    max-height: 124px
    overflow: hidden
  li
    color: white
    display: none
    &.active
      display: block
  .excerpt
    color: white
    padding: 20px
    .text
      .title
        font-size: 2em
        font-weight: bold
        line-height: 1.5em
        letter-spacing: -1px
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
      @include text-shadow(rgba(0,0,0,.5) 0 1px 2px)
    img
      float: left
  .text p
    overflow: hidden
    line-height: 20px
    font-size: 15px
    
#social-icon 
  float: right
  a
    @include opacity(0.2)
    &:hover
      @include opacity(1)

#page-view
  float: right
      
.popover
  z-index: 20000
    
p
  font-size: 14px
  line-height: 21px
      
.highlight
  background: #eee url('/images/pygments/tab_grey.gif') no-repeat !important
  padding: 0
  margin: 0px 5px 1.5em
  min-height: 40px
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important
  line-height: 1.2em
  font-size: 1.1em
  pre
    margin: 0 5px 5px 0 !important
    padding-top: 10px
    border: none
    background-color: $code-background-color
  .gutter
    width: 2px
    padding: 4px 0 4px 40px    
    pre
      background-color: $gutter-background-color
      color: #888
      width: 16px 
  table
    margin: 0 !important
  .code
    padding: 4px 10px 4px 0px
    background-color: $code-background-color
    border: 1px solid #dfdfdf
    border-top: 1px solid #eeeeee
    @include box-shadow(rgba(0,0,0,.3) 1px 1px 2px)
    width: 100%
  td
    border: none
  code
    background-color: $code-background-color
    padding-left: 0
    color: $code-foreground-color
    border: none

.highlight.ruby
  background: #eee url('/images/pygments/tab_grey_ruby.png') no-repeat !important
.highlight.bash
  background: #eee url('/images/pygments/tab_grey_bash.png') no-repeat !important
  
  
.bogus-wrapper figure
  margin: 0 10px

code
  background-color: #ddd
  color: #333
    
.mono, pre, code, tt, p code, li code 
  font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace !important
  
footer 
  p
    text-align: center
    margin: 5px 0
  .footer
    position: relative
    background-color: #eee
    padding: 5px
    @include border-bottom-radius(6px)
    @include box-shadow(rgba(0,0,0,.3) 0 1px 2px)
    margin-bottom: 15px