<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>labs.yulrizka.com - {{ page.title }}</title>
<meta name="description" content="Technical blog of Ahmy Yulrizka">
<meta name="author" content="Ahmy Yulrizka">

<!-- Framework CSS -->
<link href="/stylesheets/application.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
<!--[if lt IE 8]>
    <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->
<link href='http://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css'>

<script src="/javascripts/application.js"></script>



</head>
<body class="bp">
<div id="container" class="">
  <header>
    <div class="logo">
      <a href="http://labs.yulrizka.com">Labs.Yulrizka.com</a>
    </div>
  </header>
  <div id="main">
    <div id="wrapper">
      {{ content }}
    </div>
  </div>
  <footer>
  </footer>
</div> <!-- end of #container-->

<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/javascripts/jquery-1.6.2.min.js"><\/script>')</script>

</body>
</html>